Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

opae-v: fix issue found by static analysis
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Memory Leak
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

fix code review - set res to to 0
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix lock issue found by static analysis.
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix issue found by static analysis (#2824)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

fix static code analysis - Uninitialized Variable in Constructor (#2823)
  binaries/fpgadiag/src/eth_group.h
Owners: @OFS/opae-sdk-tools-maintainers

opae.io: fix static code analysis issue - Null pointer will be dereferenced (#2825)
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

opae vfio : fix static code analysis issue - Memory Leak (#2826)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

fix static code analysis - NULL will be dereferenced (#2820)
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

remove opae-c-archive static library (#2818)
  cmake/modules/OPAEPlugin.cmake
  libraries/libopae-c/CMakeLists.txt
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae-devel.install
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

grpc: finish adding grpc plugin skeleton files
  libraries/plugins/grpc/CMakeLists.txt
  libraries/plugins/grpc/event.cpp
  libraries/plugins/grpc/hostif.cpp
  libraries/plugins/grpc/manage.cpp
  libraries/plugins/grpc/metrics.cpp
  libraries/plugins/grpc/mmio.cpp
  libraries/plugins/grpc/open.cpp
  libraries/plugins/grpc/properties.cpp
  libraries/plugins/grpc/reconf.cpp
  libraries/plugins/grpc/reset.cpp
  libraries/plugins/grpc/sysobject.cpp
  libraries/plugins/grpc/userclk.cpp
  libraries/plugins/grpc/version.cpp
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix lock issue found by static analysis. (#2827)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

merge master branch into release branch 2.2.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae.io: fix static code analysis issue (#2821)
  binaries/opae.io/main.cpp
Owners: @OFS/opae-sdk-tools-maintainers

fix merge conflicts
  libraries/libopae-c/pluginmgr.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Buffer Overflow Non-null Terminated String
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Buffer Overflow Non-null Terminated String (#2829)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Buffer Overflow Non-null Terminated String (#2829)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Buffer Overflow Non-null Terminated String (#2829) (#2830)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

fix snyk scan error
  doc/sphinx/requirements.txt
Owners: @OFS/opae-sdk-doc-maintainers

fix snyk scan error (#2831)
  doc/sphinx/requirements.txt
Owners: @OFS/opae-sdk-doc-maintainers

README: update mailing list info
  CONTRIBUTING.md
  README.md
Owners: @OFS/opae-sdk-doc-maintainers

README: update mailing list info (#2832)
  CONTRIBUTING.md
  README.md
Owners: @OFS/opae-sdk-doc-maintainers

links: update mailing list and docs links
  AUTHORS
  CMakeLists.txt
  README.md
  RELEASE_NOTES.md
  binaries/fpgadiag/setup.py
  binaries/hssi/setup.py
  binaries/ofs.uio/setup.py
  binaries/opae.io/setup.py
  libraries/pyopae/setup.py
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/changelog.py
  packaging/opae.admin/deb/control
  packaging/opae.admin/rpm/opae.admin.spec
  packaging/opae/deb/changelog
  packaging/opae/deb/control
  packaging/pacsign/deb/control
  python/opae.admin/debian/control
  python/opae.admin/debian/deb-changelog.py
  python/opae.admin/setup.py
  python/packager/setup.py
  python/pacsign/setup.py
  scripts/index_generator.py
Owners: @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

links: update mailing list and docs links (#2833)
  AUTHORS
  CMakeLists.txt
  README.md
  RELEASE_NOTES.md
  binaries/fpgadiag/setup.py
  binaries/hssi/setup.py
  binaries/ofs.uio/setup.py
  binaries/opae.io/setup.py
  libraries/pyopae/setup.py
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/changelog.py
  packaging/opae.admin/deb/control
  packaging/opae.admin/rpm/opae.admin.spec
  packaging/opae/deb/changelog
  packaging/opae/deb/control
  packaging/pacsign/deb/control
  python/opae.admin/debian/control
  python/opae.admin/debian/deb-changelog.py
  python/opae.admin/setup.py
  python/packager/setup.py
  python/pacsign/setup.py
  scripts/index_generator.py
Owners: @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

grpc: fpgaEnumerate working
  binaries/grpcserver/CMakeLists.txt
  binaries/grpcserver/main.cpp
  libraries/CMakeLists.txt
  libraries/libopae-c/CMakeLists.txt
  libraries/libopae-c/props.h
  libraries/libopae-c/rmt-cfg.c
  libraries/libopae-clisrv/CMakeLists.txt
  libraries/libopae-clisrv/convert.cpp
  libraries/libopae-clisrv/convert.hpp
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/CMakeLists.txt
  libraries/plugins/grpc/enum.cpp
  libraries/plugins/grpc/opae.proto
  libraries/plugins/grpc/remote.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

grpc: fpgaDestroyToken(), fpgaCloneToken() working
  CMakeLists.txt
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/enum.cpp
Owners: @OFS/opae-sdk-api-maintainers

grpc: run clang-format on cpp source files
  binaries/grpcserver/.clang-format
  binaries/grpcserver/main.cpp
  libraries/argsfilter/.clang-format
  libraries/libopae-clisrv/.clang-format
  libraries/libopae-clisrv/convert.cpp
  libraries/libopae-clisrv/convert.hpp
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/plugins/grpc/.clang-format
  libraries/plugins/grpc/buffer.cpp
  libraries/plugins/grpc/close.cpp
  libraries/plugins/grpc/enum.cpp
  libraries/plugins/grpc/error.cpp
  libraries/plugins/grpc/event.cpp
  libraries/plugins/grpc/hostif.cpp
  libraries/plugins/grpc/manage.cpp
  libraries/plugins/grpc/metrics.cpp
  libraries/plugins/grpc/mmio.cpp
  libraries/plugins/grpc/open.cpp
  libraries/plugins/grpc/properties.cpp
  libraries/plugins/grpc/reconf.cpp
  libraries/plugins/grpc/reset.cpp
  libraries/plugins/grpc/sysobject.cpp
  libraries/plugins/grpc/userclk.cpp
  libraries/plugins/grpc/version.cpp
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

grpc: add api's
  libraries/libopae-c/props.h
  libraries/libopae-clisrv/convert.cpp
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/close.cpp
  libraries/plugins/grpc/open.cpp
  libraries/plugins/grpc/properties.cpp
  libraries/plugins/grpc/remote.h
Owners: @OFS/opae-sdk-api-maintainers

fix opae python enum interface id
  libraries/pyopae/opae.cpp
  libraries/pyopae/opae/fpga/__init__.py
  libraries/pyopae/pyproperties.cpp
  libraries/pyopae/test_pyopae.py
Owners: @OFS/opae-sdk-api-maintainers

fix build errors
  libraries/pyopae/opae.cpp
  libraries/pyopae/opae/fpga/__init__.py
Owners: @OFS/opae-sdk-api-maintainers

pyopae: Fix definition of fpga_interface enum
  libraries/pyopae/opae/fpga/__init__.py
  libraries/pyopae/pyproperties.cpp
  libraries/pyopae/test_pyopae.py
Owners: @OFS/opae-sdk-api-maintainers

fix pybin11 build error
  libraries/pyopaeuio/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

fix build error
  libraries/pyopaeuio/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

fix errors
  libraries/pyopaeuio/CMakeLists.txt
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix code style
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-ci-maintainers

fix pybin11 build error (#2836)
  libraries/pyopaeuio/CMakeLists.txt
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

pyopae: Fix definition of fpga_interface enum (#2835)
  libraries/pyopae/opae/fpga/__init__.py
  libraries/pyopae/pyproperties.cpp
  libraries/pyopae/test_pyopae.py
Owners: @OFS/opae-sdk-api-maintainers

opae.io: fix issues identified by static analysis
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

opae.io: fix issues identified by static analysis (#2837)
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers
