Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

pci_device: make subprocess logging a debugging message and not error
  python/opae.admin/opae/admin/utils/process.py
Owners: @OFS/opae-sdk-api-maintainers

pci_device: make subprocess logging a debugging message and not error (#3145)
  python/opae.admin/opae/admin/utils/process.py
Owners: @OFS/opae-sdk-api-maintainers

fix openssl version check
  python/pacsign/pacsign/hsm_managers/openssl/openssl.py
Owners: @OFS/opae-sdk-api-maintainers

.github/workflows: bump actions/checkout version
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: bump actions/upload-artifact version
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: bump actions/setup-python version
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: avoid conflicting artifact name in job matrix
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

scripts: do not silence coverage error output
  scripts/cover.sh
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: set runner OS to Ubuntu 22.04
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/docker-rpm.yml
  .github/workflows/no-ccpp-tests.yml
  .github/workflows/no-python-analysis.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: use locally installed checkpatch.pl
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

scripts: do not silence coverage error output
  scripts/cover.sh
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: use locally installed checkpatch.pl
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: bump actions/upload-artifact version
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: set runner OS to Ubuntu 22.04
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/docker-rpm.yml
  .github/workflows/no-ccpp-tests.yml
  .github/workflows/no-python-analysis.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: bump actions/checkout version
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: bump actions/setup-python version
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/workflows: avoid conflicting artifact name in job matrix
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

fix openssl version check
  python/pacsign/pacsign/hsm_managers/openssl/openssl.py
Owners: @OFS/opae-sdk-api-maintainers

ci: add Ubuntu 24.04
  .github/workflows/build-debs.yml
  docker/ubuntu24/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

opae: bump release to 2.14.0-1
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

changelog: update for 2.14.0-1
  CHANGELOG.md
Owners: @OFS/opae-sdk-api-maintainers

mem_tg: write read/write start address registers
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: read NOC layout from TG feature register
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: read major and minor version
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: write read/write start address registers
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: read NOC layout from TG feature register
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: read major and minor version
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

changelog: update for 2.14.0-2
  CHANGELOG.md
Owners: @OFS/opae-sdk-api-maintainers

python: migrate from deprecated distutils to setuptools
  binaries/fpgadiag/setup.py
  binaries/opae.io/setup.py
  libraries/pyopae/setup.py
  libraries/pyopaeuio/setup.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

opae: bump release to 2.14.0-2
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: fix user clock configuration sequence numbers
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

opae: fix user clock configuration sequence numbers (#3156)
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

host_exerciser: fix memory calibration check as non-root user
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

packaging: only install distribution packages on Rocky Linux 9
  docker/rockylinux9/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

packaging: update rpm spec file to match Fedora package
  docker/fedora39/Dockerfile
  docker/fedora40/Dockerfile
  docker/rockylinux8/Dockerfile
  docker/rockylinux9/Dockerfile
  opae.spec.fedora
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

packaging: add Fedora 41, drop Fedora 39
  .github/workflows/build-rpms.yml
  docker/fedora41/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

host_exerciser: fix memory calibration check as non-root user
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

packaging: add Fedora 41, drop Fedora 39
  .github/workflows/build-rpms.yml
  docker/fedora41/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

packaging: update rpm spec file to match Fedora package
  docker/fedora39/Dockerfile
  docker/fedora40/Dockerfile
  docker/rockylinux8/Dockerfile
  docker/rockylinux9/Dockerfile
  opae.spec.fedora
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

packaging: only install distribution packages on Rocky Linux 9
  docker/rockylinux9/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
