Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

Fix: Update HE Cache bias command line input
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: CXL memory traffic generator bandwidth numbers (#3025)
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: he-cache stride typo
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: set stride to 3 for target fpga memory
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Update: use json to save opae.io driver state (#3028)
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

fix: change he-cache output message
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: Update HE Cache bias command line input (#3029)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

set rom loop count to 1 and test port 12
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

added descriptions to --help
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Update for 400G rom end address, reset and print counters
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

syntax errors
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

syntax errors
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

timestamp regs
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

loop until tx packets sent
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

typo
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

factored the two ports into one loop so that port-12 also checks tx count
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

typo
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

added sleep after tg stop
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

added throughput calc
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

typos
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

typos
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

1518 byte packet rom end address
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

1486 byte packet rom end address
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

1512 byte packet rom end address
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

1514 byte packet rom end address
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

400g and 1514 packet length
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

new 200g 1512 packet length end address
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

new 200g 1512 packet length end address try again
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump revision to 2.6.1
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.6.0-2
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix: update package release to 2
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

opae: bump revision to 2.6.0-2 (#3033)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

remove early snapshot, could be a bug
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

go back to 1486 packet size hex
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

400G revert back to 1486 packet size 32 packets per
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

code cleanup
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

typos
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

typos
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

typos
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

more cleanup
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
