Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

ci: disable Fedora 35 as it is EOL as of 12-13-2022 (#2898)
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: disable Fedora 35 as it is EOL as of 12-13-2022 (#2898)
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: disable Fedora 35 as it is EOL as of 12-13-2022 (#2898)
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add nlb0 tests (#2893)
  tests/fuzzing/fuzz-nlb0.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

version: bump to 2.4.0-1 (#2896)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

build: switch to Fedora as source for libedit (#2897)
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

opae.io: flask server: add Grafana SimpleJson api (#2637)
  binaries/opae.io/opae/io/run.py
Owners: @OFS/opae-sdk-tools-maintainers

version: bump to 2.4.0-1 (#2896)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

version: bump to 2.4.0-1 (#2896) (#2899)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

ci: enable Fedora 37 RPM build
  .github/workflows/build-rpms.yml
  docker/fedora37/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

fed37: add systemd package
  docker/fedora37/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

fuzz testing: add hssi tests (#2886)
  tests/fuzzing/fuzz-hssi.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

ci: enable Fedora 37 RPM build (#2900)
  .github/workflows/build-rpms.yml
  docker/fedora35/Dockerfile
  docker/fedora37/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

grpc: add Metrics APIs, refactor JSON controls
  binaries/grpcserver/main.cpp
  libraries/libopae-c/comms.h
  libraries/libopae-c/rmt-cfg.c
  libraries/libopae-clisrv/convert.cpp
  libraries/libopae-clisrv/convert.hpp
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/enum.cpp
  libraries/plugins/grpc/metrics.cpp
  libraries/plugins/grpc/remote.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

grpc: add fpgaReconfigureSlotByName()
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/reconf.cpp
  libraries/plugins/grpc/remote.h
Owners: @OFS/opae-sdk-api-maintainers

fix opaevfiotest Segmentation fault
  libraries/libopaevfio/opaevfiotest.c
Owners: @OFS/opae-sdk-api-maintainers

fuzz testing: add object_api tests
  tests/fuzzing/fuzz-object_api.sh
Owners: @OFS/opae-sdk-ci-maintainers

grpc: add buffer APIs
  include/opae/buffer.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/buffer.cpp
  libraries/plugins/grpc/remote.h
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/xfpga/buffer.c
  libraries/plugins/xfpga/xfpga.h
Owners: @OFS/opae-sdk-api-maintainers

fuzz testing: add object_api tests (#2902)
  tests/fuzzing/fuzz-object_api.sh
Owners: @OFS/opae-sdk-ci-maintainers

print error message to get region fails
  libraries/libopaevfio/opaevfiotest.c
Owners: @OFS/opae-sdk-api-maintainers

hssi/afu_test: refactor timeout mechanism (#2875)
  libraries/afu-test/afu_test.h
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

hssi 10G: port_ -> src_port_ and dst_port_ (#2859)
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_afu.h
Owners: @OFS/opae-sdk-tools-maintainers

(cherry-pick) Two hssi updates from master (#2903)
  libraries/afu-test/afu_test.h
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_afu.h
  samples/hssi/hssi_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

fix opaevfiotest Segmentation fault (#2901)
  libraries/libopaevfio/opaevfiotest.c
Owners: @OFS/opae-sdk-api-maintainers

fix ofs.uio first write mailbox data CSR and write command CSR.
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

packager: convert to modern pip package
  opae.spec.fedora
  opae.spec.rhel
  python/packager/pyproject.toml
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

fix ofs.uio first write mailbox data CSR and write command CSR. (#2904)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

fix opaevfiotest Segmentation fault (#2901)
  libraries/libopaevfio/opaevfiotest.c
Owners: @OFS/opae-sdk-api-maintainers

fuzz testing: add opaevfiotest tests
  tests/fuzzing/fuzz-opaevfiotest.sh
Owners: @OFS/opae-sdk-ci-maintainers

pacsign: convert to pyproject.toml project
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
  python/CMakeLists.txt
  python/pacsign/pyproject.toml
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

packager: touch-ups for pyproject.toml
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
  python/CMakeLists.txt
  python/packager/MANIFEST.in
  python/packager/pyproject.toml
  python/packager/setup.py
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

pacsign: name packages directly in pyproject.toml
  python/pacsign/pyproject.toml
Owners: @OFS/opae-sdk-api-maintainers

pacsign: convert to pyproject.toml project (#2908)
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
  python/CMakeLists.txt
  python/pacsign/pyproject.toml
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

remove iteration loop code
  tests/fuzzing/fuzz-opaevfiotest.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add opaevfiotest tests (#2907)
  tests/fuzzing/fuzz-opaevfiotest.sh
Owners: @OFS/opae-sdk-ci-maintainers

opae.admin: convert to pyproject.toml project
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
  python/CMakeLists.txt
  python/opae.admin/LICENSE
  python/opae.admin/pyproject.toml
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-doc-maintainers

rename C6100 platform name to Intel IPU Platform F2000X-PL
  opae.cfg
Owners: @OFS/opae-sdk-api-maintainers

update platform name Intel IPU Platform F2000X-PL
  binaries/opae.io/opae/io/config.py
  libraries/libopae-c/cfg-file.c
  python/opae.admin/opae/admin/config.py
  tests/opae.admin/test_config.py
  tests/opae.io/test_config.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

rename C6100 platform name to Intel IPU Platform F2000X-PL (#2910)
  binaries/opae.io/opae/io/config.py
  libraries/libopae-c/cfg-file.c
  opae.cfg
  python/opae.admin/opae/admin/config.py
  tests/opae.admin/test_config.py
  tests/opae.io/test_config.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae.admin: convert to pyproject.toml project (#2909)
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
  python/CMakeLists.txt
  python/opae.admin/LICENSE
  python/opae.admin/pyproject.toml
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-doc-maintainers
