Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

SDL Include security.md file in open source repos (#2959)
  SECURITY.md
Owners: @OFS/opae-sdk-api-maintainers

SDL Include security.md file in open source repos (#2959) (#2960)
  SECURITY.md
Owners: @OFS/opae-sdk-api-maintainers

uio plugin: each token gets unique object_id
  libraries/plugins/uio/opae_uio.c
  libraries/plugins/uio/opae_uio.h
Owners: @OFS/opae-sdk-api-maintainers

Change entrypoint script and add coments to Dockerfile
  docker/centos8/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

libopaeuio: log errors only if LIBOPAE_DEBUG
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

Fix incorrect path
  docker/rockylinux8/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Delete Dockerfile that was added by mistake
  docker/centos8/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Update docker/rockylinux8/Dockerfile
  docker/rockylinux8/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

uio plugin: adjust fpgaReset error message
  libraries/plugins/uio/opae_uio.c
Owners: @OFS/opae-sdk-api-maintainers

ci: add target to automate builds for Centos8/RHEL8 (#2958)
  .github/workflows/build-rpms.yml
  docker/rockylinux8/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ofs.uio:add peek dump and log level Command-line arguments
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

setup: add setup script for openSUSE
  setup/opensuse.sh
Owners: @OFS/opae-sdk-doc-maintainers

RPM build: small fix to enable openSUSE
  opae.spec.fedora
Owners: @OFS/opae-sdk-ci-maintainers

remove format stiing form logger debug function
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

Fix coding style
  libraries/plugins/uio/opae_uio.c
Owners: @OFS/opae-sdk-api-maintainers

fix code review comments
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

ofs.uio:add peek dump and log level Command-line arguments (#2961)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

Bumping to revision 2.7.0
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

Update VERSION files
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-ci-maintainers

update python requests 2.31.0 in doc requirements.txt
  doc/sphinx/requirements.txt
Owners: @OFS/opae-sdk-doc-maintainers

Bumping to revision 2.7.0 (#2965)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Bumping to revision 2.7.0 (#2965)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Bumping to revision 2.7.0 (#2965) (#2967)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

libopaeuio.so: use flock for exclusive access
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

fix ofs.uio log format
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

update python requests 2.31.0 in doc requirements.txt (#2966)
  doc/sphinx/requirements.txt
Owners: @OFS/opae-sdk-doc-maintainers

fix ofs.uio log format (#2969)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

fix fpgainfo bmc for multiple FPGA cards
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_max10.h
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/sysfs.c
  libraries/plugins/xfpga/sysfs_int.h
  libraries/plugins/xfpga/types_int.h
  tests/xfpga/test_sysfs_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

add new PCIe Persistent error logging to fpgainfo events (
  libraries/libboard/board_c6100/board_event_log.c
  libraries/libboard/board_c6100/board_event_log.h
Owners: @OFS/opae-sdk-api-maintainers

add Persistent error logging tests
  tests/board/test_board_c6100.cpp
Owners: @OFS/opae-sdk-ci-maintainers

add new PCIe Persistent error logging to fpgainfo events ( (#2970)
  libraries/libboard/board_c6100/board_event_log.c
  libraries/libboard/board_c6100/board_event_log.h
  tests/board/test_board_c6100.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

add new PCIe Persistent error logging to fpgainfo events ( (#2970)
  libraries/libboard/board_c6100/board_event_log.c
  libraries/libboard/board_c6100/board_event_log.h
  tests/board/test_board_c6100.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

add new PCIe Persistent error logging to fpgainfo events ( (#2970) (#2972)
  libraries/libboard/board_c6100/board_event_log.c
  libraries/libboard/board_c6100/board_event_log.h
  tests/board/test_board_c6100.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix code review comments
  libraries/libopae-c/pluginmgr.c
Owners: @OFS/opae-sdk-api-maintainers

fix build error and review comments
  libraries/libopae-c/pluginmgr.c
  libraries/plugins/xfpga/sysfs.c
Owners: @OFS/opae-sdk-api-maintainers

setup: add setup script for openSUSE (#2962)
  setup/opensuse.sh
Owners: @OFS/opae-sdk-doc-maintainers

fix ofs.uio log format (#2969)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

RPM build: small fix to enable openSUSE (#2963)
  opae.spec.fedora
Owners: @OFS/opae-sdk-ci-maintainers

fix ofs.uio log format (#2969) (#2973)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

libopaeuio.so: use flock for exclusive access (#2968)
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers
