Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OPAE/api, @OPAE/tools, @OPAE/ase, @OPAE/doc, @OPAE/ci

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OPAE/api reviews everything, unless overridden below.
*                               @OPAE/api

# API specification, implementation, and samples
opae.cfg                        @OPAE/api
CMakeLists.txt                  @OPAE/api
/include/                       @OPAE/api
/libraries/                     @OPAE/api
/ofs/                           @OPAE/api
/python/                        @OPAE/api

# Tools
/binaries/                      @OPAE/tools
/samples/                       @OPAE/tools

# Platforms database
/platforms/                     @OPAE/ase

# Documentation
AUTHORS                         @OPAE/doc
CONTRIBUTING.md                 @OPAE/doc
COPYING                         @OPAE/doc
LICENSE                         @OPAE/doc
README.md                       @OPAE/doc
RELEASE_NOTES.md                @OPAE/doc

/doc/                           @OPAE/doc
/scripts/build-documentation.sh @OPAE/doc
/scripts/push-documentation.sh  @OPAE/doc
/setup/                         @OPAE/doc

# Build toolchain & continuous integration
buildit.py                      @OPAE/ci
opae.spec.in                    @OPAE/ci
opae.spec.rhel                  @OPAE/ci
opae.spec.fedora                @OPAE/ci
.gitattributes                  @OPAE/ci
.gitconfig                      @OPAE/ci
.gitignore                      @OPAE/ci
/.github/                       @OPAE/ci
/packaging/                     @OPAE/ci
/scripts/                       @OPAE/ci
/tests/                         @OPAE/ci
/cmake/                         @OPAE/ci

opae.io: one config file integration
  binaries/opae.io/opae/io/config.py
  binaries/opae.io/opae/io/pci.py
  binaries/opae.io/opae/io/utils.py
  opae.cfg
  tests/opae.io/test_config.py
Owners: @OPAE/tools, @OPAE/api, @OPAE/ci

Some straggling cleanup items.
  binaries/opae.io/opae/io/utils.py
Owners: @OPAE/tools

Bump opae.admin and opae.io versions.
  binaries/opae.io/main.cpp
  binaries/opae.io/setup.py
  python/opae.admin/opae/admin/version.py
Owners: @OPAE/tools, @OPAE/api

opaevfio, opae.io: bind vfio-pci driver to single PF instead of all PFs
  binaries/opae.io/opae/io/utils.py
  python/opae.admin/opae/admin/tools/opaevfio.py
Owners: @OPAE/tools, @OPAE/api

opae-clean.sh: add config file scrubbing
  scripts/opae-clean.sh
Owners: @OPAE/ci

opae-c: config file: search in $HOME for home dirs
  libraries/libopae-c/cfg-file.c
Owners: @OPAE/api

Fix coding style.
  libraries/libopae-c/cfg-file.c
Owners: @OPAE/api

Update scripts/opae-clean.sh
  scripts/opae-clean.sh
Owners: @OPAE/ci

Update scripts/opae-clean.sh
  scripts/opae-clean.sh
Owners: @OPAE/ci

Host Exerciser: Add support support max 4k vectors and remove hardcode vector number
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OPAE/tools

opae.io: one config file integration (#2723)
  binaries/opae.io/main.cpp
  binaries/opae.io/opae/io/config.py
  binaries/opae.io/opae/io/pci.py
  binaries/opae.io/opae/io/utils.py
  binaries/opae.io/setup.py
  opae.cfg
  python/opae.admin/opae/admin/version.py
  tests/opae.io/test_config.py
Owners: @OPAE/tools, @OPAE/api, @OPAE/ci

opaevfio, opae.io: bind vfio-pci driver to single PF instead of all PFs
  binaries/opae.io/opae/io/utils.py
  python/opae.admin/opae/admin/tools/opaevfio.py
Owners: @OPAE/tools, @OPAE/api

opae-clean.sh: add config file scrubbing (#2724)
  scripts/opae-clean.sh
Owners: @OPAE/ci

Fix review comments.
  libraries/libopae-c/cfg-file.c
Owners: @OPAE/api

Host Exerciser: fix typo
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OPAE/tools

opae-c: config file: search in $HOME for home dirs (#2725)
  libraries/libopae-c/cfg-file.c
Owners: @OPAE/api

opae-v: one config file integration
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/plugin.c
Owners: @OPAE/api

Fix coding style.
  libraries/plugins/vfio/plugin.c
Owners: @OPAE/api

opae-v: one config file integration (#2727)
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/plugin.c
Owners: @OPAE/api

Host Exerciser: Add support support max 4k vectors and remove hardco… (#2726)
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OPAE/tools
