Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

fix:fpgabitstreaminfo update string “Bitstream version” to "Image Info" (#3076)
  python/opae.admin/opae/admin/utils/verifier.py
Owners: @OFS/opae-sdk-api-maintainers

ix:improve fpgametrics output readability and (#3075)
  binaries/fpgametrics/fpgametrics.c
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

ix:improve fpgametrics output readability and (#3075) (#3085)
  binaries/fpgametrics/fpgametrics.c
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

fix:fpgabitstreaminfo update string “Bitstream version” to "Image Info" (#3076) (#3084)
  python/opae.admin/opae/admin/utils/verifier.py
Owners: @OFS/opae-sdk-api-maintainers

fix: fpgasudpate maximum progress bar calculations to 100%. (#3078) (#3083)
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

fix:update cxl_mem_tg test completion timeout value (#3081) (#3082)
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: update cxl_mem_tg test completion timeout value to 10000000 micro seconds
  samples/cxl_mem_tg/cxl_mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: update cxl_mem_tg test completion timeout value to 10000000 micro seconds (#3086)
  samples/cxl_mem_tg/cxl_mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

[Feature] - Add support for multi-port AFUs in OPAE vfio plugin
  include/opae/access.h
  include/opae/mem_alloc.h
  include/opae/types_enum.h
  include/opae/vfio.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/multi-port-afu.c
  libraries/libopaemem/mem_alloc.c
  libraries/libopaevfio/opaevfio.c
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
Owners: @OFS/opae-sdk-api-maintainers

[Feature] - Add support for multi-port AFUs in OPAE vfio plugin
  include/opae/access.h
  include/opae/mem_alloc.h
  include/opae/types_enum.h
  include/opae/vfio.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/multi-port-afu.c
  libraries/libopaemem/mem_alloc.c
  libraries/libopaevfio/opaevfio.c
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
Owners: @OFS/opae-sdk-api-maintainers

fix: update cxl_mem_tg test completion timeout value to 10000000 micro seconds (#3086)
  samples/cxl_mem_tg/cxl_mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: update cxl_mem_tg test completion timeout value to 10000000 micro seconds (#3086) (#3087)
  samples/cxl_mem_tg/cxl_mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: update CXL Host exerciser latency calculations
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: update CXL Host exerciser latency calculations (#3088)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: update CXL Host exerciser latency calculations (#3088)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Improve VFIO device enumeration performance
  include/opae/vfio.h
  libraries/libopaevfio/opaevfio.c
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

fix: update CXL Host exerciser latency calculations (#3088) (#3089)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump release number to 2.11.0-2
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Improve VFIO device enumeration performance
  include/opae/vfio.h
  libraries/libopaevfio/opaevfio.c
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae: bump release number to 2.11.0-2 (#3091)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

pacsign: hide confusing log message
  python/pacsign/pacsign/hsm_managers/openssl/openssl.py
Owners: @OFS/opae-sdk-api-maintainers

pacsign: hide confusing log message
  python/pacsign/pacsign/hsm_managers/openssl/openssl.py
Owners: @OFS/opae-sdk-api-maintainers

Initial commit of bug fix
  include/opae/cxx/core.h
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

bug fix
  include/opae/cxx/core.h
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

cleanup
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Revert "cleanup"
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

cleanup
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

cleanup
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

cleanup
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

[Fix] - Check memory calibration status before running host_exerciser (#3094)
  include/opae/cxx/core.h
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

opae.io: Fix error handling when binding the vfio-pci driver fails
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

Fix mistake in catch blocks
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix typo
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix caught exceptions not being references
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Catching all exceptions during src buffer initialization
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Add message notifying user of bufer allocation failure
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Throw exception after outputting message to user
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Move SRC try-catch to only include the allocate call
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Remove unnecessary copies when rethrowing
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Print debugging
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers
