Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

python: fix errors found by static analysis
  binaries/fpgadiag/opae/diag/fvlbypass.py
  binaries/opae.io/opae/io/utils.py
  scripts/opae-clean.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

python: fix errors found by static analysis (#2838)
  binaries/fpgadiag/opae/diag/fvlbypass.py
  binaries/opae.io/opae/io/utils.py
  scripts/opae-clean.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

opae.io: add support for 8-bit and 16-bit access
  binaries/opae.io/main.h
  binaries/opae.io/opae/io/utils.py
  binaries/opae.io/pymain.h
  binaries/opae.io/vfiobindings.cpp
Owners: @OFS/opae-sdk-tools-maintainers

fpgainfo events prints message not supported on the OFS S10 D5005 platform
  binaries/fpgainfo/board.c
Owners: @OFS/opae-sdk-tools-maintainers

fpgainfo events prints message not supported on the OFS S10 D5005 platform (#2839)
  binaries/fpgainfo/board.c
Owners: @OFS/opae-sdk-tools-maintainers

grpc: add fpgaReset(), fpgaGetPropertiesFromHandle()
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/properties.cpp
  libraries/plugins/grpc/reset.cpp
Owners: @OFS/opae-sdk-api-maintainers

grpc: add fpgaMapMMIO(), fpgaUnmapMMIO()
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/mmio.cpp
Owners: @OFS/opae-sdk-api-maintainers

Fix C6100 fpgainfo events power on time stamp
  libraries/libboard/board_c6100/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

grpc: add MMIO APIs
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/mmio.cpp
Owners: @OFS/opae-sdk-api-maintainers

fix c6100 test cases
  tests/board/test_board_c6100.cpp
Owners: @OFS/opae-sdk-ci-maintainers

Fix C6100 fpgainfo events power on time stamp (#2840)
  libraries/libboard/board_c6100/board_event_log.c
  tests/board/test_board_c6100.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

grpc: add APIs
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/buffer.cpp
  libraries/plugins/grpc/error.cpp
Owners: @OFS/opae-sdk-api-maintainers

grpc: add APIs, refactor usage of map in server
  libraries/libopae-clisrv/convert.cpp
  libraries/libopae-clisrv/convert.hpp
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/enum.cpp
  libraries/plugins/grpc/error.cpp
  libraries/plugins/grpc/remote.h
  libraries/plugins/grpc/sysobject.cpp
Owners: @OFS/opae-sdk-api-maintainers

Fix PACSign fails on RHEL9 because of OpenSSL version 3.0.1 #2841
  python/pacsign/pacsign/hsm_managers/openssl/openssl.py
Owners: @OFS/opae-sdk-api-maintainers

fpgareg: Make walk DFL also print registers for the last feature with eol set
  python/opae.admin/opae/admin/tools/fpgareg.py
Owners: @OFS/opae-sdk-api-maintainers

fpgareg: Enable the program for N501x cards in opae.cfg
  opae.cfg
Owners: @OFS/opae-sdk-api-maintainers

grpc: add APIs
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/sysobject.cpp
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo: for N501x add show board info read from BMC
  libraries/libboard/board_n5010/board_n5010.c
Owners: @OFS/opae-sdk-api-maintainers

fpgareg: Make walk DFL also print registers for the last feature with eol set (#2844)
  python/opae.admin/opae/admin/tools/fpgareg.py
Owners: @OFS/opae-sdk-api-maintainers

fpgareg: Enable the program for N501x cards in opae.cfg (#2845)
  opae.cfg
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo: for N501x add show board info read from BMC (#2843)
  libraries/libboard/board_n5010/board_n5010.c
Owners: @OFS/opae-sdk-api-maintainers

libopaevfio: add hash map and refactor
  include/opae/hash_map.h
  include/opae/vfio.h
  libraries/libopaemem/CMakeLists.txt
  libraries/libopaemem/hash_map.c
  libraries/libopaevfio/opaevfio.c
Owners: @OFS/opae-sdk-api-maintainers

vfio plugin: refactor buffer info storage
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix error message caused by removed API.
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
Owners: @OFS/opae-sdk-api-maintainers

Fix coding style
  libraries/libopaevfio/opaevfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue
  libraries/plugins/vfio/dfl.c
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix issue found by static analysis (#2824)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Memory Leak (#2826)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix lock issue found by static analysis. (#2827)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

fix static code analysis - NULL will be dereferenced (#2820)
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix issue found by static analysis (#2822)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Buffer Overflow Non-null Terminated String (#2829)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

Address review feedback: bounds check on key hash
  libraries/libopaemem/hash_map.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: (Cherry-pick) fix issue found by static analysis -Buffer Overflow (#2852)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

fix static code analysis - NULL will be dereferenced (#2820) (#2851)
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix lock issue found by static analysis. (#2827) (#2850)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae vfio : fix static code analysis issue - Memory Leak (#2826) (#2849)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae-v: fix issue found by static analysis (#2824) (#2848)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

Address feedback: add entries to end of hash list
  libraries/libopaemem/hash_map.c
Owners: @OFS/opae-sdk-api-maintainers

Review feedback: more bounds checking on key_hash
  libraries/libopaemem/hash_map.c
Owners: @OFS/opae-sdk-api-maintainers
