Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

rename C6100 platform name to Intel IPU Platform F2000X-PL (#2910)
  binaries/opae.io/opae/io/config.py
  libraries/libopae-c/cfg-file.c
  opae.cfg
  python/opae.admin/opae/admin/config.py
  tests/opae.admin/test_config.py
  tests/opae.io/test_config.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

rename C6100 platform name to Intel IPU Platform F2000X-PL (#2910) (#2911)
  binaries/opae.io/opae/io/config.py
  libraries/libopae-c/cfg-file.c
  opae.cfg
  python/opae.admin/opae/admin/config.py
  tests/opae.admin/test_config.py
  tests/opae.io/test_config.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

python: move remaining projects to pyproject.toml
  binaries/fpgadiag/CMakeLists.txt
  binaries/fpgadiag/pyproject.toml
  binaries/fpgadiag/setup.py
  binaries/hssi/CMakeLists.txt
  binaries/hssi/pyproject.toml
  binaries/ofs.uio/CMakeLists.txt
  binaries/ofs.uio/pyproject.toml
  binaries/opae.io/CMakeLists.txt
  binaries/opae.io/main.cpp
  binaries/opae.io/pyproject.toml
  cmake/modules/OPAEPackaging.cmake
  libraries/pyopae/CMakeLists.txt
  libraries/pyopae/MANIFEST.in
  libraries/pyopae/pyproject.toml
  libraries/pyopae/setup.py
  libraries/pyopaeuio/CMakeLists.txt
  libraries/pyopaeuio/pyproject.toml
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Update pyproject.toml
  binaries/hssi/pyproject.toml
Owners: @OFS/opae-sdk-tools-maintainers

pyproject.toml: add back setup.py files
  binaries/fpgadiag/pyproject.toml
  binaries/fpgadiag/setup.py
  binaries/hssi/pyproject.toml
  binaries/hssi/setup.py
  binaries/ofs.uio/pyproject.toml
  binaries/ofs.uio/setup.py
  binaries/opae.io/pyproject.toml
  binaries/opae.io/setup.py
  libraries/pyopae/pyproject.toml
  libraries/pyopae/setup.py
  libraries/pyopaeuio/setup.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
  python/packager/pyproject.toml
  python/packager/setup.py
  python/pacsign/pyproject.toml
  python/pacsign/setup.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

pyproject.toml: fix one issue in packager
  python/packager/MANIFEST.in
  python/packager/setup.py
Owners: @OFS/opae-sdk-api-maintainers

add interrupt Post execution source, destination dump buffer in debug
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

add interrupt Post execution source, destination dump buffer in debug (#2913)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

add interrupt Post execution source, destination dump buffer in debug (#2913)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix ofs.uio first write mailbox data CSR and write command CSR. (#2904)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

add interrupt Post execution source, destination dump buffer in debug (#2913) (#2914)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix ofs.uio first write mailbox data CSR and write command CSR. (#2904) (#2915)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

add QSFP cable status to fpgainfo phy
  libraries/libboard/board_c6100/board_c6100.c
  libraries/libboard/board_common/board_common.c
  libraries/libboard/board_common/board_common.h
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

fix qsfp not supported case
  libraries/libboard/board_c6100/board_c6100.c
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

python: move remaining projects to pyproject.toml (#2905)
  binaries/fpgadiag/CMakeLists.txt
  binaries/fpgadiag/pyproject.toml
  binaries/fpgadiag/setup.py
  binaries/hssi/CMakeLists.txt
  binaries/hssi/pyproject.toml
  binaries/hssi/setup.py
  binaries/ofs.uio/CMakeLists.txt
  binaries/ofs.uio/pyproject.toml
  binaries/ofs.uio/setup.py
  binaries/opae.io/CMakeLists.txt
  binaries/opae.io/main.cpp
  binaries/opae.io/pyproject.toml
  binaries/opae.io/setup.py
  cmake/modules/OPAEPackaging.cmake
  libraries/pyopae/CMakeLists.txt
  libraries/pyopae/MANIFEST.in
  libraries/pyopae/pyproject.toml
  libraries/pyopae/setup.py
  libraries/pyopaeuio/CMakeLists.txt
  libraries/pyopaeuio/pyproject.toml
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
  python/CMakeLists.txt
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
  python/packager/pyproject.toml
  python/pacsign/pyproject.toml
  python/pacsign/setup.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

grpc: add events APIs / events working
  binaries/grpcserver/main.cpp
  libraries/libopae-c/rmt-cfg.c
  libraries/libopae-clisrv/CMakeLists.txt
  libraries/libopae-clisrv/convert.hpp
  libraries/libopae-clisrv/event_notifier.cpp
  libraries/libopae-clisrv/event_notifier.hpp
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/grpc_server_runner.hpp
  libraries/libopae-clisrv/map_helper.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/CMakeLists.txt
  libraries/plugins/grpc/event.cpp
  libraries/plugins/grpc/remote.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Extend host_exerciser to allow 16 line requests
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Extend host_exerciser to allow 16 line requests (#2918)
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

add QSFP cable status to fpgainfo phy (#2916)
  libraries/libboard/board_c6100/board_c6100.c
  libraries/libboard/board_common/board_common.c
  libraries/libboard/board_common/board_common.h
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

grpc, threading: add thread safety
  libraries/libopae-clisrv/convert.cpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/map_helper.hpp
  libraries/plugins/grpc/enum.cpp
Owners: @OFS/opae-sdk-api-maintainers

add QSFP cable status to fpgainfo phy (#2916)
  libraries/libboard/board_c6100/board_c6100.c
  libraries/libboard/board_common/board_common.c
  libraries/libboard/board_common/board_common.h
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

add QSFP cable status to fpgainfo phy (#2916) (#2919)
  libraries/libboard/board_c6100/board_c6100.c
  libraries/libboard/board_common/board_common.c
  libraries/libboard/board_common/board_common.h
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

grpc: simplify token/handle to client
  libraries/plugins/grpc/buffer.cpp
  libraries/plugins/grpc/close.cpp
  libraries/plugins/grpc/enum.cpp
  libraries/plugins/grpc/error.cpp
  libraries/plugins/grpc/event.cpp
  libraries/plugins/grpc/metrics.cpp
  libraries/plugins/grpc/mmio.cpp
  libraries/plugins/grpc/open.cpp
  libraries/plugins/grpc/properties.cpp
  libraries/plugins/grpc/reconf.cpp
  libraries/plugins/grpc/remote.h
  libraries/plugins/grpc/reset.cpp
  libraries/plugins/grpc/sysobject.cpp
  libraries/plugins/grpc/userclk.cpp
Owners: @OFS/opae-sdk-api-maintainers

Merge feature/pip install to master (#2917)
  binaries/fpgadiag/CMakeLists.txt
  binaries/fpgadiag/pyproject.toml
  binaries/fpgadiag/setup.py
  binaries/hssi/CMakeLists.txt
  binaries/hssi/pyproject.toml
  binaries/hssi/setup.py
  binaries/ofs.uio/CMakeLists.txt
  binaries/ofs.uio/pyproject.toml
  binaries/ofs.uio/setup.py
  binaries/opae.io/CMakeLists.txt
  binaries/opae.io/main.cpp
  binaries/opae.io/pyproject.toml
  binaries/opae.io/setup.py
  cmake/modules/OPAEPackaging.cmake
  libraries/pyopae/CMakeLists.txt
  libraries/pyopae/MANIFEST.in
  libraries/pyopae/pyproject.toml
  libraries/pyopae/setup.py
  libraries/pyopaeuio/CMakeLists.txt
  libraries/pyopaeuio/pyproject.toml
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
  python/opae.admin/LICENSE
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
  python/packager/pyproject.toml
  python/pacsign/pyproject.toml
  python/pacsign/setup.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-doc-maintainers

Merge feature/fuzzing to master (#2920)
  libraries/libopaevfio/opaevfiotest.c
  tests/fuzzing/fuzz-bist_app.sh
  tests/fuzzing/fuzz-dummy_afu.sh
  tests/fuzzing/fuzz-fpga_dma_N3000_test.sh
  tests/fuzzing/fuzz-fpga_dma_test.sh
  tests/fuzzing/fuzz-fpgabist.sh
  tests/fuzzing/fuzz-fpgaconf.sh
  tests/fuzzing/fuzz-fpgad.sh
  tests/fuzzing/fuzz-fpgadiag.sh
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/fuzz-fpgametrics.sh
  tests/fuzzing/fuzz-hello_cxxcore.sh
  tests/fuzzing/fuzz-hello_events.sh
  tests/fuzzing/fuzz-hello_fpga.sh
  tests/fuzzing/fuzz-host_exerciser.sh
  tests/fuzzing/fuzz-hps.sh
  tests/fuzzing/fuzz-hssi.sh
  tests/fuzzing/fuzz-mem_tg.sh
  tests/fuzzing/fuzz-mmlink.sh
  tests/fuzzing/fuzz-n5010-ctl.sh
  tests/fuzzing/fuzz-n5010-test.sh
  tests/fuzzing/fuzz-nlb0.sh
  tests/fuzzing/fuzz-nlb3.sh
  tests/fuzzing/fuzz-nlb7.sh
  tests/fuzzing/fuzz-object_api.sh
  tests/fuzzing/fuzz-opae.io.sh
  tests/fuzzing/fuzz-opaeuiotest.sh
  tests/fuzzing/fuzz-opaevfiotest.sh
  tests/fuzzing/fuzz-userclk.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

libopaemem: fix issue caught by static analysis
  libraries/libopaemem/hash_map.c
Owners: @OFS/opae-sdk-api-maintainers

Improved error reporting when IOMMU is disabled
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

libopaemem: fix issue caught by static analysis (#2921)
  libraries/libopaemem/hash_map.c
Owners: @OFS/opae-sdk-api-maintainers

Added newline to file
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

Improved error reporting when IOMMU is disabled (#2922)
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

Improved error reporting when IOMMU is disabled (#2922)
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

Improved error reporting when IOMMU is disabled (#2922) (#2923)
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

Use 40 bit counters for reads and writes
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Use 40 bit counters for reads and writes
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Use 40 bit counters for reads and writes
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Use 40 bit counters for reads and writes
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Use 40 bit counters for reads and writes
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Use 40 bit counters for reads and writes
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump revision to 2.5.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Bring packaging back online.
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae-devel.install
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-ci-maintainers
