Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

fix: update cxl cache ioctl and review comments
  libraries/plugins/xfpga/fpga-dfl.h
  samples/cxl_host_exerciser/CMakeLists.txt
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.cpp
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Feature: add fpgaBindSVA() support to C++ bindings (#3016)
  include/opae/cxx/core/handle.h
  libraries/libopaecxx/src/handle.cpp
  tests/opae-cxx/test_handle_cxx_core.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix: ci build errors
  libraries/plugins/xfpga/fpga-dfl.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

fix fpga events PCIe Error status time (#3000) (#3003)
  libraries/libboard/board_n6000/board_event_log.c
  tests/board/test_board_n6000.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.9.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Feature: fpgaBindSVA() support for Python bindings
  libraries/pyopae/opae.cpp
  libraries/pyopae/pyhandle.cpp
  libraries/pyopae/pyhandle.h
Owners: @OFS/opae-sdk-api-maintainers

opae: bump revision to 2.9.0 (#3017)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix: replace original license header fpga-dfl.h
  libraries/plugins/xfpga/fpga-dfl.h
Owners: @OFS/opae-sdk-api-maintainers

Feature: Add CXL host exerciser cache application (#3009)
  libraries/plugins/xfpga/fpga-dfl.h
  opae.spec.fedora
  packaging/opae/deb/opae-extra-tools.install
  samples/cxl_host_exerciser/CMakeLists.txt
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cache_lpbk_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.cpp
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-tools-maintainers

Feature: fpgaBindSVA() support for Python bindings (#3018)
  libraries/pyopae/opae.cpp
  libraries/pyopae/pyhandle.cpp
  libraries/pyopae/pyhandle.h
Owners: @OFS/opae-sdk-api-maintainers

Fix: use -1 for invalid pasid
  include/opae/buffer.h
  libraries/libopaecxx/src/handle.cpp
  libraries/plugins/vfio/opae_vfio.c
  libraries/pyopae/pyhandle.cpp
  tests/opae-cxx/test_handle_cxx_core.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix test case.
  tests/opae-cxx/test_handle_cxx_core.cpp
Owners: @OFS/opae-sdk-ci-maintainers

Fix: use -1 for invalid pasid (#3019)
  include/opae/buffer.h
  libraries/libopaecxx/src/handle.cpp
  libraries/plugins/vfio/opae_vfio.c
  libraries/pyopae/pyhandle.cpp
  tests/opae-cxx/test_handle_cxx_core.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Feature: add --exclude option to pci_device
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/version.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-api-maintainers

fix:update fpga dfl ioctl changes and bug fixes
  libraries/plugins/xfpga/fpga-dfl.h
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Fix: update pci_device to use argparse subparsers
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/version.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-api-maintainers

Update: use argparse subparsers in pci_device (#3022)
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/version.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-api-maintainers

Creating 200-400g command variant with basic TG start stop
  samples/hssi/hssi.cpp
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

including new 200-400g command
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

some fixes
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: add command line input bias and support multiple he-cache instances
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Update: use argparse subparsers in opae.io
  binaries/opae.io/main.cpp
  binaries/opae.io/pymain.h
  binaries/opae.io/pyproject.toml
  binaries/opae.io/setup.py
Owners: @OFS/opae-sdk-tools-maintainers

bug fixes
  binaries/opae.io/main.cpp
  binaries/opae.io/pymain.h
  binaries/opae.io/scripts/walk.py
Owners: @OFS/opae-sdk-tools-maintainers

adding print-registers
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix typo
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix typo
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix typos
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae.io dump count is in qwords
  binaries/opae.io/pymain.h
Owners: @OFS/opae-sdk-tools-maintainers

Update: use argparse subparsers in opae.io (#3023)
  binaries/opae.io/main.cpp
  binaries/opae.io/pymain.h
  binaries/opae.io/pyproject.toml
  binaries/opae.io/scripts/walk.py
  binaries/opae.io/setup.py
Owners: @OFS/opae-sdk-tools-maintainers

Fix: CXL memory traffic generator bandwidth numbers
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix merge bugs
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/version.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-api-maintainers

fix: check read, write, loop count range
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: loop count default value
  samples/cxl_mem_tg/cxl_mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: build error set cmd default string value
  samples/cxl_mem_tg/cxl_mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: set stride to 3 for fpga rd/wr cache hit/miss
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Update: add --exclude option to pci_device unplug (#3026)
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/version.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-api-maintainers

fix:update fpga dfl ioctl changes and bug fixes (#3021)
  libraries/plugins/xfpga/fpga-dfl.h
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Fix: add CXL Host exerciser document ( markdown)
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
  doc/src/fpga_tools/cxl_host_exerciser/cxl_host_exerciser.md
Owners: @OFS/opae-sdk-doc-maintainers

Update: use json to save opae.io driver state
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

fix: code review comments
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers
