Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpgabist tests
  tests/fuzzing/fuzz-fpgabist.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add opaeuiotest tests (#2876)
  tests/fuzzing/fuzz-opaeuiotest.sh
Owners: @OFS/opae-sdk-ci-maintainers

fix print usage string
  tests/fuzzing/fuzz-host_exerciser.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add bist_app tests (#2878)
  tests/fuzzing/fuzz-bist_app.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpgabist tests (#2880)
  tests/fuzzing/fuzz-fpgabist.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add dummy_afu tests
  tests/fuzzing/fuzz-dummy_afu.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add nlb3 tests (#2877)
  tests/fuzzing/fuzz-nlb3.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

hssi 10G: port_ -> src_port_ and dst_port_ (#2859)
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_afu.h
Owners: @OFS/opae-sdk-tools-maintainers

fuzz testing: add fpga_dma_N3000_test tests
  tests/fuzzing/fuzz-fpga_dma_N3000_test.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add host_exerciser tests (#2881)
  tests/fuzzing/fuzz-host_exerciser.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

bist: fix segfault encountered during fuzz testing
  binaries/fpgabist/bist/bist_D5005.c
Owners: @OFS/opae-sdk-tools-maintainers

fuzz testing: add fpgadiag tests
  tests/fuzzing/fuzz-fpgadiag.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add bist tests
  tests/fuzzing/fuzz-bist.sh
Owners: @OFS/opae-sdk-ci-maintainers

bist: fix segfault encountered during fuzz testing (#2884)
  binaries/fpgabist/bist/bist_D5005.c
Owners: @OFS/opae-sdk-tools-maintainers

fuzz testing: add fpga_dma_N3000_test tests (#2883)
  tests/fuzzing/fuzz-fpga_dma_N3000_test.sh
Owners: @OFS/opae-sdk-ci-maintainers

fix code review comments
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpgadiag tests (#2885)
  tests/fuzzing/fuzz-fpgadiag.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hssi tests
  tests/fuzzing/fuzz-hssi.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpga_dma_test tests
  tests/fuzzing/fuzz-fpga_dma_test.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpga_dma_test tests (#2887)
  tests/fuzzing/fuzz-fpga_dma_test.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add mem_tg tests
  tests/fuzzing/fuzz-mem_tg.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add mem_tg tests (#2888)
  tests/fuzzing/fuzz-mem_tg.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add opae.io tests
  tests/fuzzing/fuzz-opae.io.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

opae.io: fix errors found during fuzz testing
  binaries/opae.io/main.cpp
  binaries/opae.io/pymain.h
  binaries/opae.io/setup.py
Owners: @OFS/opae-sdk-tools-maintainers

opae.io: fix errors found during fuzz testing (#2889)
  binaries/opae.io/main.cpp
  binaries/opae.io/pymain.h
  binaries/opae.io/setup.py
Owners: @OFS/opae-sdk-tools-maintainers

fuzz testing: add hps tests
  tests/fuzzing/fuzz-hps.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add opae.io tests (#2890)
  tests/fuzzing/fuzz-opae.io.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add dummy_afu tests (#2882)
  tests/fuzzing/fuzz-dummy_afu.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hps tests (#2891)
  tests/fuzzing/fuzz-hps.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: a few finishing fixes
  tests/fuzzing/fuzz-dummy_afu.sh
  tests/fuzzing/fuzz-fpga_dma_N3000_test.sh
  tests/fuzzing/fuzz-fpga_dma_test.sh
  tests/fuzzing/fuzz-fpgabist.sh
  tests/fuzzing/fuzz-fpgaconf.sh
  tests/fuzzing/fuzz-fpgad.sh
  tests/fuzzing/fuzz-fpgadiag.sh
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/fuzz-fpgametrics.sh
  tests/fuzzing/fuzz-hello_cxxcore.sh
  tests/fuzzing/fuzz-hello_events.sh
  tests/fuzzing/fuzz-hello_fpga.sh
  tests/fuzzing/fuzz-host_exerciser.sh
  tests/fuzzing/fuzz-hps.sh
  tests/fuzzing/fuzz-mem_tg.sh
  tests/fuzzing/fuzz-mmlink.sh
  tests/fuzzing/fuzz-n5010-ctl.sh
  tests/fuzzing/fuzz-n5010-test.sh
  tests/fuzzing/fuzz-nlb3.sh
  tests/fuzzing/fuzz-userclk.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: a few finishing fixes (#2892)
  tests/fuzzing/fuzz-dummy_afu.sh
  tests/fuzzing/fuzz-fpga_dma_N3000_test.sh
  tests/fuzzing/fuzz-fpga_dma_test.sh
  tests/fuzzing/fuzz-fpgabist.sh
  tests/fuzzing/fuzz-fpgaconf.sh
  tests/fuzzing/fuzz-fpgad.sh
  tests/fuzzing/fuzz-fpgadiag.sh
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/fuzz-fpgametrics.sh
  tests/fuzzing/fuzz-hello_cxxcore.sh
  tests/fuzzing/fuzz-hello_events.sh
  tests/fuzzing/fuzz-hello_fpga.sh
  tests/fuzzing/fuzz-host_exerciser.sh
  tests/fuzzing/fuzz-hps.sh
  tests/fuzzing/fuzz-mem_tg.sh
  tests/fuzzing/fuzz-mmlink.sh
  tests/fuzzing/fuzz-n5010-ctl.sh
  tests/fuzzing/fuzz-n5010-test.sh
  tests/fuzzing/fuzz-nlb3.sh
  tests/fuzzing/fuzz-userclk.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add nlb0 tests
  tests/fuzzing/fuzz-nlb0.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

hssi/afu_test: refactor timeout mechanism (#2875)
  libraries/afu-test/afu_test.h
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

hssi 10G: port_ -> src_port_ and dst_port_ (#2859)
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_afu.h
Owners: @OFS/opae-sdk-tools-maintainers

fuzz testing: add nlb7 tests
  tests/fuzzing/fuzz-nlb7.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

release/2.3.0: cherry-pick 2 hssi fixes (#2895)
  libraries/afu-test/afu_test.h
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_afu.h
  samples/hssi/hssi_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

version: bump to 2.4.0-1
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fuzz testing: add nlb7 tests (#2894)
  tests/fuzzing/fuzz-nlb7.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

build: switch to Fedora as source for libedit
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

ci: disable Fedora 35 as it is EOL as of 12-13-2022
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers
