Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

changelog: update for 2.13.0-1
  CHANGELOG.md
Owners: @OFS/opae-sdk-api-maintainers

opae: bump revision to 2.13.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

platform: add a mechanism for AFU's to set platform macros
  platforms/platmgr/tools/afu_platform_config.py
Owners: @OFS/opae-sdk-ase-maintainers

platform: add a mechanism for AFU's to set platform macros (#3130)
  platforms/platmgr/tools/afu_platform_config.py
Owners: @OFS/opae-sdk-ase-maintainers

host_exerciser: fix buffer comparison in interrupt test mode
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

host_exerciser: fix buffer comparison in interrupt test mode (#3131)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump release to 2.13.0-2
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

changelog: update for 2.13.0-2
  CHANGELOG.md
Owners: @OFS/opae-sdk-api-maintainers

hssistats: fix variable name
  binaries/hssi/ethernet/hssistats.py
Owners: @OFS/opae-sdk-tools-maintainers

hssistats: fix variable name (#3133)
  binaries/hssi/ethernet/hssistats.py
Owners: @OFS/opae-sdk-tools-maintainers

hssi: increate timeout to 1 second
  binaries/hssi/ethernet/hssicommon.py
Owners: @OFS/opae-sdk-tools-maintainers

hssi: increate timeout to 1 second (#3132)
  binaries/hssi/ethernet/hssicommon.py
Owners: @OFS/opae-sdk-tools-maintainers

changelog: update for 2.13.0-3
  CHANGELOG.md
Owners: @OFS/opae-sdk-api-maintainers

mem_tg: fix support for more than 8 memory channels
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: declare methods called within each thread as const
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: refactor tg_test() to use std::vector for channels
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

qsfpinfo: New tool to print QSFP EEPROM information for cards with qsfp feature (id 0x13).
  CMakeLists.txt
  binaries/CMakeLists.txt
  binaries/qsfpinfo/CMakeLists.txt
  binaries/qsfpinfo/cmis_wrap.c
  binaries/qsfpinfo/main.c
  binaries/qsfpinfo/sff-common_wrap.c
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
  doc/src/fpga_tools/qsfpinfo/qsfpinfo.md
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae-devel.install
  scripts/opae-clean.py
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

qsfpinfo: only include printing qsfp information (include source from ethertool) if OPAE-SDK is compiled with option OPAE_WITH_QSFPINFO_QSFPPRINT
  CMakeLists.txt
  binaries/qsfpinfo/CMakeLists.txt
  binaries/qsfpinfo/main.c
  doc/src/fpga_tools/qsfpinfo/qsfpinfo.md
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-doc-maintainers

qsfpinfo: New tool to print QSFP EEPROM information for cards with qsfp feature (id 0x13).
  CMakeLists.txt
  binaries/CMakeLists.txt
  binaries/qsfpinfo/CMakeLists.txt
  binaries/qsfpinfo/cmis_wrap.c
  binaries/qsfpinfo/main.c
  binaries/qsfpinfo/sff-common_wrap.c
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
  doc/src/fpga_tools/qsfpinfo/qsfpinfo.md
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae-devel.install
  scripts/opae-clean.py
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

qsfpinfo: only include printing qsfp information (include source from ethertool) if OPAE-SDK is compiled with option OPAE_WITH_QSFPINFO_QSFPPRINT
  CMakeLists.txt
  binaries/qsfpinfo/CMakeLists.txt
  binaries/qsfpinfo/main.c
  doc/src/fpga_tools/qsfpinfo/qsfpinfo.md
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-doc-maintainers

mem_tg: fix support for more than 8 memory channels
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: refactor tg_test() to use std::vector for channels
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: declare methods called within each thread as const
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

.github: workflows: restrict top-level workflow permissions
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/docker-rpm.yml
  .github/workflows/no-ccpp-tests.yml
  .github/workflows/no-python-analysis.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github: workflows: restrict top-level workflow permissions
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/docker-rpm.yml
  .github/workflows/no-ccpp-tests.yml
  .github/workflows/no-python-analysis.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

mem_tg: write read/write start address registers
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: hard-code 1 GiB offsets per 16 HBM channels
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

DEBUG
  cmake/modules/OPAECompiler.cmake
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-tools-maintainers

mem_tg: write address offset in multiples of 256 byte
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fixup! DEBUG
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Added OSError to value/bin_value try/catch
  python/opae.admin/opae/admin/sysfs.py
Owners: @OFS/opae-sdk-api-maintainers

Added OSError to value/bin_value try/catch Signed-off-by: Nathan Borak <nathan.borak@intel.com>
  python/opae.admin/opae/admin/sysfs.py
Owners: @OFS/opae-sdk-api-maintainers

mem_tg: read NOC layout from MEM_TG_FEAT register
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

mem_tg: print major and minor version
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

ci: add Rocky Linux 9.4
  .github/workflows/build-rpms.yml
  docker/rockylinux9/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ci: add Rocky Linux 9.4
  .github/workflows/build-rpms.yml
  docker/rockylinux9/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

pci_device: Add bridge reset when a device is unplugged
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/utils/process.py
Owners: @OFS/opae-sdk-api-maintainers

pci_device: Add bridge reset when a device is unplugged (#3143)
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/utils/process.py
Owners: @OFS/opae-sdk-api-maintainers

pci_device: improved reset sequence
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers

pci_device: improved reset sequence (#3144)
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers
