Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

samples:cxl_hello_fpga:Add hello fpga support for CMC
  samples/CMakeLists.txt
  samples/cxl_hello_fpga/CMakeLists.txt
  samples/cxl_hello_fpga/cxl_he_cmd.h
  samples/cxl_hello_fpga/cxl_hello_fpga.cpp
  samples/cxl_hello_fpga/cxl_hello_fpga.h
  samples/cxl_hello_fpga/cxl_hello_fpga_cmd.h
  samples/cxl_hello_fpga/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

disallow factory image update if boot page is also factory
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

Flipped to log.error
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

comments
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

cleanup and comments
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

samples:cxl_hello_fpga : Add support for Hello fpga feature for CMC
  samples/cxl_hello_fpga/cxl_hello_fpga.h
  samples/cxl_hello_fpga/cxl_hello_fpga_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

remove dependency on pacsign. reproduce factory constant locally
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

Feature:add loop count command line input to CXL host exerciser
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Feature:add loop count command line input to CXL host exerciser (#3051)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Bug: fpgabist uninitialized variable errors
  binaries/fpgabist/dma/fpga_dma.cpp
Owners: @OFS/opae-sdk-tools-maintainers

Bug: fpgabist uninitialized variable errors (#3053)
  binaries/fpgabist/dma/fpga_dma.cpp
Owners: @OFS/opae-sdk-tools-maintainers

ix:CXL traffic generator read/write bandwidth and input arguments boundary check
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix code review comments
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix:CXL traffic generator read/write bandwidth and input arguments bou… (#3054)
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

[Bug] Disallow factory image update if boot page is also factory (#3049)
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

Feature: add opae-mem
  libraries/plugins/uio/dfl.c
  libraries/plugins/vfio/dfl.c
  libraries/plugins/xfpga/mmio.c
  libraries/pyopae/CMakeLists.txt
  libraries/pyopae/opae/fpga/dfh.py
  libraries/pyopae/opae/fpga/feature.py
  libraries/pyopae/opae/fpga/hexview.py
  libraries/pyopae/opae/fpga/mailbox.py
  libraries/pyopae/opae/fpga/pcie/__init__.py
  libraries/pyopae/opae/fpga/pcie/address.py
  libraries/pyopae/opae/fpga/tools/__init__.py
  libraries/pyopae/opae/fpga/tools/opae_mem.py
  libraries/pyopae/setup.py
  opae.spec.fedora
  packaging/opae/deb/opae-devel.install
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

feature: add running pointer and ping-pong tests to CXL host exerciser
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix running pointer test bugs
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: code review comments
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix typo
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

feature: add running pointer and ping-pong tests to CXL host exerciser (#3056)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: set FPGA buffer read only for bias mode device bias.
  libraries/plugins/xfpga/fpga-dfl.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

fix: set FPGA buffer read only for bias mode device bias. (#3057)
  libraries/plugins/xfpga/fpga-dfl.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Feature: add opae-mem (#3055)
  libraries/plugins/uio/dfl.c
  libraries/plugins/vfio/dfl.c
  libraries/plugins/xfpga/mmio.c
  libraries/pyopae/CMakeLists.txt
  libraries/pyopae/opae/fpga/dfh.py
  libraries/pyopae/opae/fpga/feature.py
  libraries/pyopae/opae/fpga/hexview.py
  libraries/pyopae/opae/fpga/mailbox.py
  libraries/pyopae/opae/fpga/pcie/__init__.py
  libraries/pyopae/opae/fpga/pcie/address.py
  libraries/pyopae/opae/fpga/tools/__init__.py
  libraries/pyopae/opae/fpga/tools/opae_mem.py
  libraries/pyopae/setup.py
  opae.spec.fedora
  packaging/opae/deb/opae-devel.install
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

flashupdate.py fix for intel PAC n3000 cards - boot_page
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

samples/cxl_mem_tg: 16GB memory support is added for MEM_TG
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

samples/cxl_mem_tg: 16GB memory support is added for MEM_TG (#3058)
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: define PCI_STD_NUM_BARS when not found
  libraries/plugins/uio/dfl.c
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

Fix: define PCI_STD_NUM_BARS when not found (#3061)
  libraries/plugins/uio/dfl.c
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

fix:set continuous mode bit for write hit/miss cases tests
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: remove clx he loopback sub command
  samples/cxl_host_exerciser/cxl_he_cache_lpbk_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.cpp
Owners: @OFS/opae-sdk-tools-maintainers

fix: remove clx he loopback sub command
  samples/cxl_host_exerciser/cxl_he_cache_lpbk_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.cpp
Owners: @OFS/opae-sdk-tools-maintainers

Fix: define PCI_STD_NUM_BARS when not found (#3061)
  libraries/plugins/uio/dfl.c
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

fix: remove clx he loopback sub command (#3059)
  samples/cxl_host_exerciser/cxl_he_cache_lpbk_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.cpp
Owners: @OFS/opae-sdk-tools-maintainers

fix:set continuous mode bit for write hit/miss cases tests (#3062)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix issue with D5005 and .gbs files
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

fix: remove Host reads and write miss tests
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: remove Host reads and write miss tests (#3064)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
Owners: @OFS/opae-sdk-tools-maintainers

[Fix] - fpgasupdate -- skip Factory check under certain conditions (#3063)
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

samples:cxl_hello_fpga:Add hello fpga support for CMC
  samples/CMakeLists.txt
  samples/cxl_hello_fpga/CMakeLists.txt
  samples/cxl_hello_fpga/cxl_he_cmd.h
  samples/cxl_hello_fpga/cxl_hello_fpga.cpp
  samples/cxl_hello_fpga/cxl_hello_fpga.h
  samples/cxl_hello_fpga/cxl_hello_fpga_cmd.h
  samples/cxl_hello_fpga/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
