Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

Update plugin.c
  libraries/plugins/vfio/plugin.c
Owners: @OFS/opae-sdk-api-maintainers

Update pluginmgr.c
  libraries/libopae-c/pluginmgr.c
Owners: @OFS/opae-sdk-api-maintainers

Update opae-cfg.c
  libraries/libopae-c/opae-cfg.c
Owners: @OFS/opae-sdk-api-maintainers

Update cfg-file.h
  libraries/libopae-c/cfg-file.h
Owners: @OFS/opae-sdk-api-maintainers

Update cfg-file.c
  libraries/libopae-c/cfg-file.c
Owners: @OFS/opae-sdk-api-maintainers

Update init.c
  libraries/libopae-c/init.c
Owners: @OFS/opae-sdk-api-maintainers

fix rpmlint non-executable-script errors
  opae.spec.fedora
Owners: @OFS/opae-sdk-ci-maintainers

fix rhel spec file
  opae.spec.rhel
Owners: @OFS/opae-sdk-ci-maintainers

fix rpmlint non-executable-script errors (#2810)
  opae.spec.fedora
  opae.spec.rhel
Owners: @OFS/opae-sdk-ci-maintainers

libofs: correct unit test failures
  include/ofs/ofs_primitives.h
  tests/libofs/test_libofs.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

cfg search: log error when "configs" not detected (#2809)
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/init.c
  libraries/libopae-c/opae-cfg.c
  libraries/libopae-c/pluginmgr.c
  libraries/plugins/vfio/plugin.c
  tests/opae-c/test_opae_cfg_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix nanosleep issue.
  include/ofs/ofs_primitives.h
Owners: @OFS/opae-sdk-api-maintainers

(Cherry-pcik)fix rpmlint non-executable-script errors (#2810)
  opae.spec.fedora
  opae.spec.rhel
Owners: @OFS/opae-sdk-ci-maintainers

(Cherry-pcik)fix rpmlint non-executable-script errors (#2810) (#2812)
  opae.spec.fedora
  opae.spec.rhel
Owners: @OFS/opae-sdk-ci-maintainers

fix rpmlint static-library-without-debuginfo error
  libraries/libopae-c/CMakeLists.txt
  opae.spec.fedora
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

build: re-enable parallel builds
  CMakeLists.txt
  binaries/fpgad/api/CMakeLists.txt
  binaries/fpgad/plugins/fpgad-xfpga/CMakeLists.txt
  binaries/opae.io/CMakeLists.txt
  cmake/modules/OPAECompiler.cmake
  cmake/modules/OPAETest.cmake
  libraries/libbitstream/CMakeLists.txt
  libraries/libopaecxx/CMakeLists.txt
  libraries/plugins/xfpga/metrics/bmc/bmcdata.c
  libraries/plugins/xfpga/metrics/bmc/bmcinfo.c
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

libofs: correct unit test failures (#2811)
  include/ofs/ofs_primitives.h
  tests/libofs/test_libofs.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Update matrix build to make -j $(nproc)
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

Enable make -j $(nproc) in coverage script.
  scripts/cover.sh
Owners: @OFS/opae-sdk-ci-maintainers

install guide: add instrs for modern cmake
  doc/src/install_guide/installation_guide.md
Owners: @OFS/opae-sdk-doc-maintainers

build: re-enable parallel builds (#2814)
  .github/workflows/ccpp-tests.yml
  CMakeLists.txt
  binaries/fpgad/api/CMakeLists.txt
  binaries/fpgad/plugins/fpgad-xfpga/CMakeLists.txt
  binaries/opae.io/CMakeLists.txt
  cmake/modules/OPAECompiler.cmake
  cmake/modules/OPAETest.cmake
  libraries/libbitstream/CMakeLists.txt
  libraries/libopaecxx/CMakeLists.txt
  libraries/plugins/xfpga/metrics/bmc/bmcdata.c
  libraries/plugins/xfpga/metrics/bmc/bmcinfo.c
  scripts/cover.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Add Kitware link.
  doc/src/install_guide/installation_guide.md
Owners: @OFS/opae-sdk-doc-maintainers

fpgasupdate: break from transferring on error
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

install guide: add instrs for modern cmake (#2815)
  doc/src/install_guide/installation_guide.md
Owners: @OFS/opae-sdk-doc-maintainers

fpgasupdate: break from transferring on error (#2816)
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

opae.admin: don't use pretty_version() for version
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-api-maintainers

opae.admin: don't use pretty_version() for version (#2817)
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-api-maintainers

remove opae-c-archive static library
  cmake/modules/OPAEPlugin.cmake
  libraries/libopae-c/CMakeLists.txt
  opae.spec.fedora
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

remove libopae-c-archive from deb and rhel spec file
  opae.spec.rhel
  packaging/opae/deb/opae-devel.install
Owners: @OFS/opae-sdk-ci-maintainers

build: add deps on gtest imported libraries
  CMakeLists.txt
  tests/framework/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix static code analysis - NULL will be dereferenced
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

opae.io: fix static code analysis issue
  binaries/opae.io/main.cpp
Owners: @OFS/opae-sdk-tools-maintainers

opae-v: fix issue found by static analysis
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

build: add deps on gtest imported libraries (#2819)
  CMakeLists.txt
  tests/framework/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix code style
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

fix static code analysis - Uninitialized Variable in Constructor
  binaries/fpgadiag/src/eth_group.h
Owners: @OFS/opae-sdk-tools-maintainers

fix coding style
  libraries/plugins/vfio/dfl.c
Owners: @OFS/opae-sdk-api-maintainers

Refactor a bit
  binaries/opae.io/main.cpp
Owners: @OFS/opae-sdk-tools-maintainers

opae-v: fix issue found by static analysis (#2822)
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

opae.io: fix static code analysis issue - Null pointer will be dereferenced
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
