Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OPAE/api, @OPAE/tools, @OPAE/ase, @OPAE/doc, @OPAE/ci

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OPAE/api reviews everything, unless overridden below.
*                               @OPAE/api

# API specification, implementation, and samples
opae.cfg                        @OPAE/api
CMakeLists.txt                  @OPAE/api
/include/                       @OPAE/api
/libraries/                     @OPAE/api
/ofs/                           @OPAE/api
/python/                        @OPAE/api

# Tools
/binaries/                      @OPAE/tools
/samples/                       @OPAE/tools

# Platforms database
/platforms/                     @OPAE/ase

# Documentation
AUTHORS                         @OPAE/doc
CONTRIBUTING.md                 @OPAE/doc
COPYING                         @OPAE/doc
LICENSE                         @OPAE/doc
README.md                       @OPAE/doc
RELEASE_NOTES.md                @OPAE/doc

/doc/                           @OPAE/doc
/scripts/build-documentation.sh @OPAE/doc
/scripts/push-documentation.sh  @OPAE/doc
/setup/                         @OPAE/doc

# Build toolchain & continuous integration
buildit.py                      @OPAE/ci
opae.spec.in                    @OPAE/ci
opae.spec.rhel                  @OPAE/ci
opae.spec.fedora                @OPAE/ci
.gitattributes                  @OPAE/ci
.gitconfig                      @OPAE/ci
.gitignore                      @OPAE/ci
/.github/                       @OPAE/ci
/packaging/                     @OPAE/ci
/scripts/                       @OPAE/ci
/tests/                         @OPAE/ci
/cmake/                         @OPAE/ci

rsu: add --wait command line parameter
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/api

rsu: add --wait command line parameter
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/api

vabtool: updates for recent driver/BMC changes
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: bump version, add pr_status to help
  binaries/vabtool/vabtool
Owners: @OPAE/tools

Revert "rsu: remove sr_cancel, pr_cancel from sdm command (#2677)"
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

Revert "rsu: remove sr_cancel, pr_cancel from sdm command (#2677)"
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

vabtool: updates for recent driver/BMC changes
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: bump version, add pr_status to help
  binaries/vabtool/vabtool
Owners: @OPAE/tools

opae-sdk: fpgadiag: Restored fpga_root. \nBut the code using it (in class FPGASTATS.eth_stats()) is never called. I'll leave it to the OP to clean up.
  binaries/fpgadiag/opae/diag/fpgastats.py
Owners: @OPAE/tools

vabtool: Increase rsu timeout in sdm pr key provisioning
  binaries/vabtool/vabtool
Owners: @OPAE/tools

fpgasupdate: changes related to new SDM driver
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/fpgasupdate.py
  python/opae.admin/opae/admin/version.py
Owners: @OPAE/api

opae-sdk: fix hssismac documentation (remove mtu command) (#2696)
  doc/src/fpga_tools/hssi_ethernet/hssimac.md
Owners: @OPAE/doc

rsu: add --wait command line parameter
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/api

Revert "rsu: remove sr_cancel, pr_cancel from sdm command (#2677)"
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

opae-sdk: bump release number to 3 -bump releas 2.1.2-2 to 2.1.2-3
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OPAE/api, @OPAE/ci

Revert "rsu: remove sr_cancel, pr_cancel from sdm command (#2677)" (#2704)
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

rsu: add --wait command line parameter (#2703)
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/api

fpgasupdate: changes related to new SDM driver (#2701)
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/fpgasupdate.py
  python/opae.admin/opae/admin/version.py
Owners: @OPAE/api

opae-sdk: bump release number to 3 (#2705)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OPAE/api, @OPAE/ci

opae-sdk: fix hssismac documentation (remove mtu command) (#2696) (#2702)
  doc/src/fpga_tools/hssi_ethernet/hssimac.md
Owners: @OPAE/doc

Add a CSR field indicating PCIe atomics support to avoid crashing older machines
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OPAE/tools

Add a CSR field indicating PCIe atomics support to avoid problems on older machines (#2706)
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OPAE/tools

ci: trigger Python static checks on PRs
  .github/workflows/python-static-analysis.yml
Owners: @OPAE/ci

ci: trigger dummy C/C++ tests on pull_request too
  .github/workflows/no-ccpp-tests.yml
Owners: @OPAE/ci

ci: trigger Python static checks on PRs (#2707)
  .github/workflows/no-ccpp-tests.yml
  .github/workflows/python-static-analysis.yml
Owners: @OPAE/ci

ci: trigger dummy Python static tests for pull_request too
  .github/workflows/no-python-analysis.yml
Owners: @OPAE/ci

ci: trigger dummy Python static tests for pull_request too
  .github/workflows/no-python-analysis.yml
Owners: @OPAE/ci

Don't use the deprecated and removed os.errno
  platforms/scripts/afu_synth_setup
Owners: @OPAE/ase

Don't use the deprecated and removed os.errno
  platforms/scripts/afu_synth_setup
Owners: @OPAE/ase

opae-sdk: add support to installed pybind11 to build python bindings
  binaries/fpgadiag/CMakeLists.txt
  binaries/opae.io/CMakeLists.txt
  external/CMakeLists.txt
  libraries/pyopae/CMakeLists.txt
  libraries/pyopaeuio/CMakeLists.txt
Owners: @OPAE/tools, @OPAE/api

Add a CSR field indicating PCIe atomics support to avoid problems on older machines (#2706)
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OPAE/tools

Don't use the deprecated and removed os.errno
  platforms/scripts/afu_synth_setup
Owners: @OPAE/ase

Add a CSR field indicating PCIe atomics support to avoid problems on older machines (#2706) (#2710)
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OPAE/tools

Don't use the deprecated and removed os.errno (#2711)
  platforms/scripts/afu_synth_setup
Owners: @OPAE/ase

opae-sdk: add pybind11 find_package() to main CMakeLists.tx
  CMakeLists.txt
  binaries/fpgadiag/CMakeLists.txt
  binaries/opae.io/CMakeLists.txt
  external/CMakeLists.txt
  libraries/pyopae/CMakeLists.txt
  libraries/pyopaeuio/CMakeLists.txt
Owners: @OPAE/api, @OPAE/tools

vabtool: Print out error message during retries
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Add support for sdm key cancellation
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: updates for recent driver/BMC changes
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: bump version, add pr_status to help
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Increase rsu timeout in sdm pr key provisioning
  binaries/vabtool/vabtool
Owners: @OPAE/tools
