Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

opae.io: Fix error handling when binding the vfio-pci driver fails (#3095)
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump revision to 2.12.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.12.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

[Update] Add improved error message for buffer allocation failure in HE-MEM (#3096)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae.io: Fix error system exit exception value
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

opae.admin: gracefully handle systems without BMC interface
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

Fpgainfo: Remove the sdm hash and cancel keys from CMC fpgainfo security
  libraries/libboard/board_cmc/board_cmc.c
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo: Remove the sdm hash and cancel keys from CMC fpgainfo security
  libraries/libboard/board_cmc/board_cmc.c
Owners: @OFS/opae-sdk-api-maintainers

fgpainfo: update the security key enumeration and read sysfs attribute logic into table format.
  libraries/libboard/board_cmc/board_cmc.c
Owners: @OFS/opae-sdk-api-maintainers

fpgasupdate: fix PR on boards without BMC interface.
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo: fix code review comments
  libraries/libboard/board_cmc/board_cmc.c
Owners: @OFS/opae-sdk-api-maintainers

fpgasupdate: fix PR on boards without BMC interface.
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

opae.admin: gracefully handle systems without BMC interface
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

opae.admin: gracefully handle systems without BMC interface
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

fpgasupdate: fix PR on boards without BMC interface.
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

fpgasupdate: fix PR on boards without BMC interface.
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

opae.admin: gracefully handle systems without BMC interface
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo: Remove the sdm hash and cancel keys from CMC fpgainfo security (#3099)
  libraries/libboard/board_cmc/board_cmc.c
Owners: @OFS/opae-sdk-api-maintainers

[Update] Add improved error message for buffer allocation failure in HE-MEM (#3096)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

[Update] Add improved error message for buffer allocation failure in HE-MEM (#3102)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

hssi: set sbd properties to enumerate fpga device and set sbdf properties to enumerate afu
  libraries/afu-test/afu_test.h
Owners: @OFS/opae-sdk-api-maintainers

fpgasupdate:set the progress bar's maximum value to 100% if it exceeds
  python/opae.admin/opae/admin/utils/progress.py
Owners: @OFS/opae-sdk-api-maintainers

fpgasupdate:set the progress bar's maximum value to 100% if it exceeds (#3104)
  python/opae.admin/opae/admin/utils/progress.py
Owners: @OFS/opae-sdk-api-maintainers

hssi: set sbd properties to enumerate fpga device and set sbdf properties to enumerate afu (#3103)
  libraries/afu-test/afu_test.h
Owners: @OFS/opae-sdk-api-maintainers

hssi: set sbd properties to enumerate fpga device and set sbdf properties to enumerate afu (#3103)
  libraries/afu-test/afu_test.h
Owners: @OFS/opae-sdk-api-maintainers

hssi: set sbd properties to enumerate fpga device and set sbdf properties to enumerate afu (#3103) (#3105)
  libraries/afu-test/afu_test.h
Owners: @OFS/opae-sdk-api-maintainers

cmake: exclude .clang-format from opae headers
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

cmake: exclude .clang-format from opae headers
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

cmake: exclude .clang-format from opae headers
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

cmake: exclude .clang-format from opae headers
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo: refactor code for print phy information
  libraries/libboard/board_common/CMakeLists.txt
  libraries/libboard/board_common/board_common.c
  libraries/libboard/board_common/board_common.h
  libraries/libboard/board_n6000/CMakeLists.txt
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

host_exerciser:support no FPGA mgmt PF instances
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

fix code review comments
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Fix indentation
  libraries/afu-test/afu_test.h
Owners: @OFS/opae-sdk-api-maintainers

host_exerciser:support no FPGA mgmt PF instances (#3108)
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

libboard: add board plugin for board with PCI subdevice id 1
  libraries/CMakeLists.txt
  libraries/libboard/board_0001/CMakeLists.txt
  libraries/libboard/board_0001/board_0001.c
  libraries/libboard/board_0001/board_0001.h
  libraries/libboard/board_common/board_common.c
  libraries/libopae-c/cfg-file.c
  opae.cfg
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae.install
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

host_exerciser:support no FPGA mgmt PF instances (#3108)
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Add support to host_exerciser for varying HE LB data bus widths
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Add support to host_exerciser for varying HE LB data bus widths (#3110)
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

host_exerciser:support no FPGA mgmt PF instances (#3108) (#3109)
  libraries/afu-test/afu_test.h
  samples/host_exerciser/host_exerciser.h
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
