Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

userclk: separate device independent from Agilex 7 configuration
  libraries/plugins/xfpga/CMakeLists.txt
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_freq.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_int.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type1.c
  tests/xfpga/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

changelog: update for 2.14.0-2
  CHANGELOG.md
Owners: @OFS/opae-sdk-api-maintainers

userclk: separate device independent from Agilex 7 configuration
  libraries/plugins/xfpga/CMakeLists.txt
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_freq.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_int.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type1.c
  tests/userclk/test_userclk_c.cpp
  tests/xfpga/CMakeLists.txt
  tests/xfpga/test_reconf_c.cpp
  tests/xfpga/test_usrclk_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

userclk: separate device independent from Agilex 7 configuration (#3159)
  libraries/plugins/xfpga/CMakeLists.txt
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_freq.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_int.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type1.c
  tests/userclk/test_userclk_c.cpp
  tests/xfpga/CMakeLists.txt
  tests/xfpga/test_reconf_c.cpp
  tests/xfpga/test_usrclk_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

userclk: add support for Agilex 5 configuration
  libraries/plugins/xfpga/CMakeLists.txt
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_int.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type1.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type2.c
  tests/xfpga/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

userclk: add support for Agilex 5 configuration (#3161)
  libraries/plugins/xfpga/CMakeLists.txt
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_int.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type1.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type2.c
  tests/xfpga/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Updating SECURITY.md
  SECURITY.md
Owners: @OFS/opae-sdk-api-maintainers

Updating SECURITY.md
  SECURITY.md
Owners: @OFS/opae-sdk-api-maintainers

[Fix]- Ubuntu 24.04 debian package build issue (#3165)
  packaging/opae/deb/opae-devel.install
  packaging/opae/deb/opae-extra-tools.install
  packaging/opae/deb/opae.install
Owners: @OFS/opae-sdk-ci-maintainers

[Fix] userclk: increase the reset delay
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

ubuntu 24.04: opae-unit test failing for use of deprecated function
  tests/pyopae/test_sysobject.py
Owners: @OFS/opae-sdk-ci-maintainers

opae: bump release to 2.14.0-3
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: changelog update for 2.14.0-3
  CHANGELOG.md
Owners: @OFS/opae-sdk-api-maintainers

[Update] : Merged commits from main branch to release branch (#3170)
  CHANGELOG.md
  CMakeLists.txt
  SECURITY.md
  libraries/plugins/xfpga/CMakeLists.txt
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_freq.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_int.h
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type1.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk_type2.c
  packaging/opae.admin/version
  packaging/opae/deb/opae-devel.install
  packaging/opae/deb/opae-extra-tools.install
  packaging/opae/deb/opae.install
  packaging/opae/version
  tests/pyopae/test_sysobject.py
  tests/userclk/test_userclk_c.cpp
  tests/xfpga/CMakeLists.txt
  tests/xfpga/test_reconf_c.cpp
  tests/xfpga/test_usrclk_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Update type/versions supported by st_dbg_ip_driver.c
  binaries/mmlink/remote_dbg/streaming/st_dbg_ip_driver.c
Owners: @OFS/opae-sdk-tools-maintainers

fpgadiag, libopaecxx: link the libraries whose symbols are used
  binaries/fpgadiag/CMakeLists.txt
  libraries/libopaecxx/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers
