Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

Update setup.py
  binaries/ofs.uio/setup.py
Owners: @OFS/opae-sdk-tools-maintainers

fix code style and cmd sts csr offset
  binaries/ofs.uio/uio/ofs.uio.py
Owners: @OFS/opae-sdk-tools-maintainers

fix mailbox cmd sts reg bits
  binaries/ofs.uio/uio/ofs.uio.py
Owners: @OFS/opae-sdk-tools-maintainers

Add ofs.uio tool to peek, poke, mailbox read/write/dump dfl uio csr r… (#2782)
  binaries/ofs.uio/CMakeLists.txt
  binaries/ofs.uio/setup.py
  binaries/ofs.uio/uio/__init__.py
  binaries/ofs.uio/uio/ofs.uio.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae-extra-tools.install
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

rename ofs.uio.py to ofs_uio.py and fix sig fault
  binaries/ofs.uio/setup.py
  binaries/ofs.uio/uio/ofs_uio.py
  libraries/pyopaeuio/pyopaeuio.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

rename ofs.uio.py to ofs_uio.py and fix sig fault (#2786)
  binaries/ofs.uio/setup.py
  binaries/ofs.uio/uio/ofs_uio.py
  libraries/pyopaeuio/pyopaeuio.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

ofs.uio: add markdown document
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
  doc/src/fpga_tools/ofs.uio/ofs.uio.md
Owners: @OFS/opae-sdk-doc-maintainers

libopaeuio: fix issue id'd by static analysis
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

libboard tests: fix error check
  tests/board/test_board_c6100.cpp
  tests/board/test_board_n6000.cpp
Owners: @OFS/opae-sdk-ci-maintainers

libopaeuio: fix issue id'd by static analysis (#2788)
  libraries/libopaeuio/opaeuio.c
  tests/board/test_board_c6100.cpp
  tests/board/test_board_n6000.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix fedora spec file, remove ofs.uio from rhel spec file
  binaries/ofs.uio/setup.py
  opae.spec.fedora
  opae.spec.rhel
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

fix doc review comments
  doc/src/fpga_tools/ofs.uio/ofs.uio.md
Owners: @OFS/opae-sdk-doc-maintainers

fix fedora spec file, remove ofs.uio from rhel spec file (#2789)
  binaries/ofs.uio/setup.py
  opae.spec.fedora
  opae.spec.rhel
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

Fix ofs.uio error message for Multiple FPGAs and duplicate feature ids
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

fix mailbox write output format
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

fix code review comments
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

Fix ofs.uio error message for Multiple FPGAs and duplicate feature ids (#2790)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

remote: UDS and INET events working
  binaries/inetserv/main.c
  binaries/udsserv/main.c
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/comms.h
  libraries/libopae-c/inet-ifc.c
  libraries/libopae-c/pollsrv.c
  libraries/libopae-c/pollsrv.h
  libraries/libopae-c/rmt-cfg.c
  libraries/libopae-c/rmt-ifc.h
  libraries/libopae-c/uds-ifc.c
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/response.h
  libraries/libopae-serialize/serialize.c
  libraries/libopae-serialize/serialize.h
  libraries/plugins/remote/enum.c
  libraries/plugins/remote/event.c
  libraries/plugins/remote/remote.h
  samples/hello_events/hello_events.c
  tests/opae-serialize/CMakeLists.txt
  tests/opae-serialize/test_request_c.cpp
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix coding style
  libraries/plugins/remote/event.c
Owners: @OFS/opae-sdk-api-maintainers

Fix hello_events unit tests.
  samples/hello_events/hello_events.c
Owners: @OFS/opae-sdk-tools-maintainers

Updating fedora35 build to create new RPMs
  docker/fedora35/Dockerfile
  scripts/build-rpms-new.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

again
  scripts/build-rpms-new.sh
Owners: @OFS/opae-sdk-ci-maintainers

again
  docker/fedora35/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add fedora36 RPM build
  .github/workflows/build-rpms.yml
  docker/fedora36/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Updating fedora35 build to create new RPMs (#2791)
  .github/workflows/build-rpms.yml
  docker/fedora36/Dockerfile
  scripts/build-rpms-new.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ci: remove old fedora31, fedora32, fedora33 jobs
  .github/workflows/build-rpms.yml
  docker/fedora31/Dockerfile
  docker/fedora32/Dockerfile
  docker/fedora33/Dockerfile
  scripts/build-rpms-new.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Attempt to fix broken jobs
  .github/workflows/build-rpms.yml
  scripts/test-rpms.sh
Owners: @OFS/opae-sdk-ci-maintainers

Update centos7.6 to new RPM build
  docker/centos7.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Disable centos7.6 job
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

again
  .github/workflows/build-rpms.yml
  scripts/test-rpms.sh
Owners: @OFS/opae-sdk-ci-maintainers

again
  .github/workflows/build-rpms.yml
  scripts/test-rpms.sh
Owners: @OFS/opae-sdk-ci-maintainers

again
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

again
  scripts/test-rpms.sh
Owners: @OFS/opae-sdk-ci-maintainers

one more time
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: remove old fedora31, fedora32, fedora33 jobs (#2792)
  .github/workflows/build-rpms.yml
  docker/centos7.6/Dockerfile
  docker/fedora31/Dockerfile
  docker/fedora32/Dockerfile
  docker/fedora33/Dockerfile
  scripts/build-rpms-new.sh
  scripts/test-rpms.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ci: add .deb build job
  .github/workflows/build-debs.yml
  docker/ubuntu22/Dockerfile
  scripts/build-debs.sh
  scripts/test-debs.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Update Dockerfile
  docker/ubuntu22/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add pandoc to Dockerfile
  docker/ubuntu22/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

add doxygen to Dockerfile
  docker/ubuntu22/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

ci: add .deb build job (#2793)
  .github/workflows/build-debs.yml
  docker/ubuntu22/Dockerfile
  scripts/build-debs.sh
  scripts/test-debs.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers
