Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

rsu: clear errors after rescan (#2936)
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix rescan path (#2937)
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

pci_device: add unplug and plug subcommands (#2934)
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers

rsu: clear errors after rescan (#2936)
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix rescan path (#2937)
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix fpga.enum returns a list (#2939)
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix fpga.enum returns a list (#2939)
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

grpc: save progress on grpc-gateway integration
  libraries/libopae-clisrv/proto/opae_gw.proto
  python/opae.http/opae/http/constants.py
  python/opae.http/opae/http/handle.py
  python/opae.http/opae/http/sysobject.py
  python/opae.http/opae/http/token.py
  python/opae.http/opae/http/tools/opae_http_test.py
Owners: @OFS/opae-sdk-api-maintainers

grpc: saving progress on grpc-gateway integration
  libraries/libopae-clisrv/proto/opae_gw.proto
  python/opae.http/opae/http/constants.py
  python/opae.http/opae/http/handle.py
  python/opae.http/opae/http/metrics.py
  python/opae.http/opae/http/shared_buffer.py
  python/opae.http/opae/http/sysobject.py
  python/opae.http/opae/http/tools/opae_http_test.py
Owners: @OFS/opae-sdk-api-maintainers

grpc-gateway: cleanup and add NLB0 test
  python/opae.http/opae/http/enumerate.py
  python/opae.http/opae/http/handle.py
  python/opae.http/opae/http/shared_buffer.py
  python/opae.http/opae/http/sysobject.py
  python/opae.http/opae/http/token.py
  python/opae.http/opae/http/tools/nlb0.py
  python/opae.http/opae/http/tools/opae_http_test.py
  python/opae.http/pyproject.toml
  python/opae.http/setup.py
Owners: @OFS/opae-sdk-api-maintainers

Fix GitHub Actions build-debs and build-rpms
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

Fix GitHub Actions build-debs and build-rpms (#2947)
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

Add test workflow for building RHEL 8.6 rpms
  .github/workflows/build-rpms.yml
  docker/rhel8.6/Dockerfile
  scripts/build-rpms-new-rhel.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Change dependency in Docker to json-c (hopefully json-c-devel comes with)
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Previous commit did not fix, hoefully this will
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

opae.http: add debug printing
  python/opae.http/opae/http/enumerate.py
  python/opae.http/opae/http/handle.py
  python/opae.http/opae/http/shared_buffer.py
  python/opae.http/opae/http/sysobject.py
  python/opae.http/opae/http/token.py
  python/opae.http/opae/http/tools/nlb0.py
  python/opae.http/opae/http/tools/opae_http_test.py
  python/opae.http/opae/http/version.py
Owners: @OFS/opae-sdk-api-maintainers

opae: bump revision to 2.6.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.6.0 (#2948)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Get opae.io out of a pickle
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump revision to 2.6.0 (#2948)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.6.0 (#2948) (#2949)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Get opae.io out of a pickle (#2950)
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

grpc: fix errors caught by gcc 12.3.1
  libraries/libopae-clisrv/grpc_server.cpp
Owners: @OFS/opae-sdk-api-maintainers

grpc: add COMPONENT flag for grpcserver, grpcreset
  binaries/grpcreset/CMakeLists.txt
  binaries/grpcserver/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

Testing to see installed yum repoes on UBI8
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to install json-c-devel into the UBI8 image from the RHEL8 repo
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try a workaround to install json-c-devel into the image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try building RPMs using CentOS as the base image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Change Dockerfile to point yum to archived repos
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add python3-jsonschema to install list in the Docker image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try copying package list from Centos7.6 Dockerfile
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Change to previous list and add rpmdevtools
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add libncurses-compat-libs to Docker image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Revert "Add libncurses-compat-libs to Docker image"
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add libncurses* to Docker image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add autoconf to Docker image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Remove autoconf and add hwloc to Docker image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Change hwloc to hwloc-devel
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Revert "Change hwloc to hwloc-devel"
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add autoconf and automake to Docker image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers
