Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

fuzz tests: add quiet option for report generation
  tests/fuzzing/fuzz-bist_app.sh
  tests/fuzzing/fuzz-dummy_afu.sh
  tests/fuzzing/fuzz-fpga_dma_N3000_test.sh
  tests/fuzzing/fuzz-fpga_dma_test.sh
  tests/fuzzing/fuzz-fpgabist.sh
  tests/fuzzing/fuzz-fpgaconf.sh
  tests/fuzzing/fuzz-fpgad.sh
  tests/fuzzing/fuzz-fpgadiag.sh
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/fuzz-fpgametrics.sh
  tests/fuzzing/fuzz-hello_cxxcore.sh
  tests/fuzzing/fuzz-hello_events.sh
  tests/fuzzing/fuzz-hello_fpga.sh
  tests/fuzzing/fuzz-host_exerciser.sh
  tests/fuzzing/fuzz-hps.sh
  tests/fuzzing/fuzz-hssi.sh
  tests/fuzzing/fuzz-mem_tg.sh
  tests/fuzzing/fuzz-mmlink.sh
  tests/fuzzing/fuzz-n5010-ctl.sh
  tests/fuzzing/fuzz-n5010-test.sh
  tests/fuzzing/fuzz-nlb0.sh
  tests/fuzzing/fuzz-nlb3.sh
  tests/fuzzing/fuzz-nlb7.sh
  tests/fuzzing/fuzz-object_api.sh
  tests/fuzzing/fuzz-opae.io.sh
  tests/fuzzing/fuzz-opaeuiotest.sh
  tests/fuzzing/fuzz-opaevfiotest.sh
  tests/fuzzing/fuzz-userclk.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz tests: add quiet option for report generation (#3002)
  tests/fuzzing/fuzz-bist_app.sh
  tests/fuzzing/fuzz-dummy_afu.sh
  tests/fuzzing/fuzz-fpga_dma_N3000_test.sh
  tests/fuzzing/fuzz-fpga_dma_test.sh
  tests/fuzzing/fuzz-fpgabist.sh
  tests/fuzzing/fuzz-fpgaconf.sh
  tests/fuzzing/fuzz-fpgad.sh
  tests/fuzzing/fuzz-fpgadiag.sh
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/fuzz-fpgametrics.sh
  tests/fuzzing/fuzz-hello_cxxcore.sh
  tests/fuzzing/fuzz-hello_events.sh
  tests/fuzzing/fuzz-hello_fpga.sh
  tests/fuzzing/fuzz-host_exerciser.sh
  tests/fuzzing/fuzz-hps.sh
  tests/fuzzing/fuzz-hssi.sh
  tests/fuzzing/fuzz-mem_tg.sh
  tests/fuzzing/fuzz-mmlink.sh
  tests/fuzzing/fuzz-n5010-ctl.sh
  tests/fuzzing/fuzz-n5010-test.sh
  tests/fuzzing/fuzz-nlb0.sh
  tests/fuzzing/fuzz-nlb3.sh
  tests/fuzzing/fuzz-nlb7.sh
  tests/fuzzing/fuzz-object_api.sh
  tests/fuzzing/fuzz-opae.io.sh
  tests/fuzzing/fuzz-opaeuiotest.sh
  tests/fuzzing/fuzz-opaevfiotest.sh
  tests/fuzzing/fuzz-userclk.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fix fpga events PCIe Error status time (#3000)
  libraries/libboard/board_n6000/board_event_log.c
  tests/board/test_board_n6000.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

add/merge support to CXL CMC
  binaries/opae.io/opae/io/config.py
  libraries/CMakeLists.txt
  libraries/libboard/board_cmc/CMakeLists.txt
  libraries/libboard/board_cmc/board_cmc.c
  libraries/libboard/board_cmc/board_cmc.h
  libraries/libopae-c/cfg-file.c
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/sysfs.c
  libraries/plugins/xfpga/types_int.h
  opae.cfg
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae-extra-tools.install
  packaging/opae/deb/opae.install
  samples/clx_mem_tg/CMakeLists.txt
  samples/clx_mem_tg/cxl_mem_tg.cpp
  samples/clx_mem_tg/cxl_mem_tg.h
  samples/clx_mem_tg/cxl_tg_test.h
  scripts/opae-clean.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix code style
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/sysfs.c
Owners: @OFS/opae-sdk-api-maintainers

Fix several user clock configuration bugs:
  binaries/userclk/main.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Fix several user clock configuration bugs:
  binaries/userclk/main.c
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Increase user clock measurement delay
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

Increase user clock measurement delay
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

Create pull_request_template.md
  .github/pull_request_template.md
Owners: @OFS/opae-sdk-ci-maintainers

fix cmc fpgainfo image label
  libraries/libboard/board_cmc/board_cmc.c
Owners: @OFS/opae-sdk-api-maintainers

feature -add/merge support to CXL CMC (#3004)
  binaries/opae.io/opae/io/config.py
  libraries/CMakeLists.txt
  libraries/libboard/board_cmc/CMakeLists.txt
  libraries/libboard/board_cmc/board_cmc.c
  libraries/libboard/board_cmc/board_cmc.h
  libraries/libopae-c/cfg-file.c
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/sysfs.c
  libraries/plugins/xfpga/types_int.h
  opae.cfg
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae-extra-tools.install
  packaging/opae/deb/opae.install
  samples/clx_mem_tg/CMakeLists.txt
  samples/clx_mem_tg/cxl_mem_tg.cpp
  samples/clx_mem_tg/cxl_mem_tg.h
  samples/clx_mem_tg/cxl_tg_test.h
  scripts/opae-clean.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix: increase hssi mail box timeout
  binaries/hssi/ethernet/hssicommon.py
Owners: @OFS/opae-sdk-tools-maintainers

fix: increase hssi mail box timeout (#3008)
  binaries/hssi/ethernet/hssicommon.py
Owners: @OFS/opae-sdk-tools-maintainers

Feature: Add CXL host exerciser cache application
  opae.spec.fedora
  packaging/opae/deb/opae-extra-tools.install
  samples/cxl_host_exerciser/CMakeLists.txt
  samples/cxl_host_exerciser/cxl_host_exerciser.cpp
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/cxl_host_exerciser_cache.h
  samples/cxl_host_exerciser/cxl_host_exerciser_cmd.h
  samples/cxl_host_exerciser/dfl-he-cache.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-tools-maintainers

fix: cxl memory traffic generator folder name typo
  samples/CMakeLists.txt
  samples/cxl_mem_tg/CMakeLists.txt
  samples/cxl_mem_tg/cxl_mem_tg.cpp
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Feature: add cmake control for building libnuma
  CMakeLists.txt
  cmake/modules/Findnuma.cmake
  cmake/modules/OPAECompiler.cmake
  cmake/modules/OPAETest.cmake
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fixing CI: add numactl-devel
  docker/fedora37/Dockerfile
  docker/fedora38/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

fix: cxl memory traffic generator folder name typo (#3010)
  samples/CMakeLists.txt
  samples/cxl_mem_tg/CMakeLists.txt
  samples/cxl_mem_tg/cxl_mem_tg.cpp
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Add numactl-devel for rockylinux
  docker/rockylinux8/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add libnuma-dev to Ubuntu Dockerfile; update setup scripts
  docker/ubuntu22/Dockerfile
  setup/centos.sh
  setup/fedora.sh
  setup/opensuse.sh
  setup/ubuntu.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-doc-maintainers

fix: address cmake policy 148
  CMakeLists.txt
  binaries/fpgadiag/CMakeLists.txt
  binaries/hssi/CMakeLists.txt
  binaries/ofs.uio/CMakeLists.txt
  binaries/opae.io/CMakeLists.txt
  cmake/modules/OFS.cmake
  cmake/modules/OPAEPackaging.cmake
  libraries/pyopae/CMakeLists.txt
  libraries/pyopaeuio/CMakeLists.txt
  python/CMakeLists.txt
  python/opae.admin/CMakeLists.txt
  tests/pyopae/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

Feature: add cmake control for building libnuma (#3011)
  CMakeLists.txt
  cmake/modules/Findnuma.cmake
  cmake/modules/OPAECompiler.cmake
  cmake/modules/OPAETest.cmake
  docker/fedora37/Dockerfile
  docker/fedora38/Dockerfile
  docker/rockylinux8/Dockerfile
  docker/ubuntu22/Dockerfile
  setup/centos.sh
  setup/fedora.sh
  setup/opensuse.sh
  setup/ubuntu.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-doc-maintainers

fix: address cmake policy 148 (#3013)
  CMakeLists.txt
  binaries/fpgadiag/CMakeLists.txt
  binaries/hssi/CMakeLists.txt
  binaries/ofs.uio/CMakeLists.txt
  binaries/opae.io/CMakeLists.txt
  cmake/modules/OFS.cmake
  cmake/modules/OPAEPackaging.cmake
  libraries/pyopae/CMakeLists.txt
  libraries/pyopaeuio/CMakeLists.txt
  python/CMakeLists.txt
  python/opae.admin/CMakeLists.txt
  tests/pyopae/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

add a method for binding shared virtual addressing
  binaries/opae.io/opae/io/utils.py
  include/opae/buffer.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/plugins/vfio/CMakeLists.txt
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
  libraries/plugins/xfpga/fpga-dfl.h
  tests/opae-c/dummy_plugin.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix: code rview comments and bugs fixed
  samples/cxl_host_exerciser/CMakeLists.txt
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cache_lpbk_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.cpp
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/dfl-he-cache.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: cmakefile typo
  samples/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

fix: ci build errors
  samples/cxl_host_exerciser/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

fix: ci build error
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: ci build error
  samples/cxl_host_exerciser/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

fix: ci build errors
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

- Attempt to load dfl-pci-sva.ko in opae.io. For now, it fails silently if the module isn't available. - Improvements to file descriptor and PASID range checks.
  binaries/opae.io/opae/io/utils.py
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

- Missed one fd check update
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

Use flags to indicate valid sva_fd and pasid so that initial values of 0 don't look like valid handles.
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
Owners: @OFS/opae-sdk-api-maintainers

Feature: add a method for binding shared virtual addressing (#3014)
  binaries/opae.io/opae/io/utils.py
  include/opae/buffer.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/plugins/vfio/CMakeLists.txt
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
  libraries/plugins/xfpga/fpga-dfl.h
  tests/opae-c/dummy_plugin.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix: vfio/uio test case bug
  tests/opae-u/test_opae_uio_c.cpp
  tests/opae-v/test_opae_vfio_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

Fix: vfio/uio test case bug (#3015)
  tests/opae-u/test_opae_uio_c.cpp
  tests/opae-v/test_opae_vfio_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

fix: he cache ioctl
  libraries/plugins/xfpga/fpga-dfl.h
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/dfl-he-cache.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Feature: add fpgaBindSVA() support to C++ bindings
  include/opae/cxx/core/handle.h
  libraries/libopaecxx/src/handle.cpp
  tests/opae-cxx/test_handle_cxx_core.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Run clang-format on handle.cpp.
  libraries/libopaecxx/src/handle.cpp
Owners: @OFS/opae-sdk-api-maintainers
