Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

ci: update to actions/checkout@v3
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

update build-debs.yml
  .github/workflows/build-debs.yml
Owners: @OFS/opae-sdk-ci-maintainers

update ccpp-tests.yml
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

update pacsign.yml, python-static-analysis.yml, valgrind.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: update to actions/checkout@v3 (#2794)
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: update to action/upload-artifact@v3
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: don't use mstksg/get-package; it is deprecated
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

Run clang-format on pyopaeuio.cpp
  libraries/pyopaeuio/pyopaeuio.cpp
Owners: @OFS/opae-sdk-api-maintainers

Update pyopaeuio.cpp
  libraries/pyopaeuio/pyopaeuio.cpp
Owners: @OFS/opae-sdk-api-maintainers

again
  .github/workflows/ccpp-tests.yml
  .github/workflows/valgrind.yml
  libraries/pyopaeuio/pyopaeuio.cpp
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ci: update to action/upload-artifact@v3 (#2795)
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
  .github/workflows/ccpp-tests.yml
  .github/workflows/python-static-analysis.yml
  .github/workflows/valgrind.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: don't use mstksg/get-package; it is deprecated (#2796)
  .github/workflows/ccpp-tests.yml
  .github/workflows/valgrind.yml
  libraries/pyopaeuio/pyopaeuio.cpp
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Update doc/src/fpga_tools/ofs.uio/ofs.uio.md
  doc/src/fpga_tools/ofs.uio/ofs.uio.md
Owners: @OFS/opae-sdk-doc-maintainers

ci: upgrade to actions/setup-python@v4
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: update to lycheeverse/lychee-action@v1
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: upgrade to actions/setup-python@v4 (#2797)
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: update to lycheeverse/lychee-action@v1 (#2798)
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

ofs.uio: add markdown document (#2787)
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
  doc/src/fpga_tools/ofs.uio/ofs.uio.md
Owners: @OFS/opae-sdk-doc-maintainers

change version to 2.2.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix rhel package create errors
  binaries/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

fix rhel package create errors (#2800)
  binaries/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

externals: use native cmake support
  CMakeLists.txt
  cmake/modules/OPAE.cmake
  cmake/modules/OPAEExternal.cmake
  cmake/modules/OPAETest.cmake
  external/CMakeLists.txt
  libraries/afu-test/CMakeLists.txt
  libraries/pyopae/CMakeLists.txt
  libraries/pyopaeuio/CMakeLists.txt
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/create
  packaging/opae/deb/rules
  packaging/opae/rpm/create
  packaging/opae/rpm/create-tarball.sh
  platforms/scripts/CMakeLists.txt
  python/CMakeLists.txt
  python/opae.admin/CMakeLists.txt
  scripts/cover.sh
  tests/CMakeLists.txt
  tests/dummy_afu/CMakeLists.txt
  tests/framework/CMakeLists.txt
  tests/pyopae/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-ase-maintainers

Few touch-ups
  cmake/modules/OPAECompiler.cmake
  libraries/afu-test/CMakeLists.txt
  scripts/create-rpms.sh
  scripts/docker_rpm.sh
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

externals: use native cmake support (#2801)
  CMakeLists.txt
  cmake/modules/OPAE.cmake
  cmake/modules/OPAECompiler.cmake
  cmake/modules/OPAEExternal.cmake
  cmake/modules/OPAETest.cmake
  external/CMakeLists.txt
  libraries/afu-test/CMakeLists.txt
  libraries/pyopae/CMakeLists.txt
  libraries/pyopaeuio/CMakeLists.txt
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/create
  packaging/opae/deb/rules
  packaging/opae/rpm/create
  packaging/opae/rpm/create-tarball.sh
  platforms/scripts/CMakeLists.txt
  python/CMakeLists.txt
  python/opae.admin/CMakeLists.txt
  scripts/cover.sh
  scripts/create-rpms.sh
  scripts/docker_rpm.sh
  tests/CMakeLists.txt
  tests/dummy_afu/CMakeLists.txt
  tests/framework/CMakeLists.txt
  tests/pyopae/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-ase-maintainers

fix static code analysis issue
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

fix static code analysis issue (#2802)
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

fix rhel package create errors (#2800)
  binaries/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

externals: use native cmake support (#2801)
  CMakeLists.txt
  cmake/modules/OPAE.cmake
  cmake/modules/OPAECompiler.cmake
  cmake/modules/OPAEExternal.cmake
  cmake/modules/OPAETest.cmake
  external/CMakeLists.txt
  libraries/afu-test/CMakeLists.txt
  libraries/pyopae/CMakeLists.txt
  libraries/pyopaeuio/CMakeLists.txt
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/create
  packaging/opae/deb/rules
  packaging/opae/rpm/create
  packaging/opae/rpm/create-tarball.sh
  platforms/scripts/CMakeLists.txt
  python/CMakeLists.txt
  python/opae.admin/CMakeLists.txt
  scripts/cover.sh
  scripts/create-rpms.sh
  scripts/docker_rpm.sh
  tests/CMakeLists.txt
  tests/dummy_afu/CMakeLists.txt
  tests/framework/CMakeLists.txt
  tests/pyopae/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-ase-maintainers

fix rhel package create errors (#2800) (#2803)
  binaries/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers

fix static code analysis issue (#2802)
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

fix static code analysis issue (#2802) (#2805)
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo events description to be user friendly and display format
  libraries/libboard/board_n6000/board_event_log.c
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

fix fpgainfo events typo
  libraries/libboard/board_n6000/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo events description to be user friendly and display format (#2806)
  libraries/libboard/board_n6000/board_event_log.c
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-api-maintainers

cmake: gtest .so and include paths fix
  CMakeLists.txt
  cmake/modules/OPAETest.cmake
  tests/opae-c/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

cmake: gtest .so and include paths fix (#2808)
  CMakeLists.txt
  cmake/modules/OPAETest.cmake
  tests/opae-c/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

cfg search: log error when "configs" not detected
  libraries/libopae-c/init.c
  libraries/libopae-c/opae-cfg.c
Owners: @OFS/opae-sdk-api-maintainers

Print config file name on error.
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/opae-cfg.c
  libraries/libopae-c/pluginmgr.c
  libraries/plugins/vfio/plugin.c
Owners: @OFS/opae-sdk-api-maintainers

Fix cfg tests
  tests/opae-c/test_opae_cfg_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

Update test_opae_cfg_c.cpp
  tests/opae-c/test_opae_cfg_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers
