Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

remote: use fpga_remote_id; whitespace cleanup
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/serialize.c
  libraries/libopae-serialize/serialize.h
  libraries/plugins/remote/buffer.c
  libraries/plugins/remote/close.c
  libraries/plugins/remote/enum.c
  libraries/plugins/remote/error.c
  libraries/plugins/remote/metrics.c
  libraries/plugins/remote/mmio.c
  libraries/plugins/remote/open.c
  libraries/plugins/remote/properties.c
  libraries/plugins/remote/reconf.c
  libraries/plugins/remote/reset.c
  libraries/plugins/remote/sysobject.c
  libraries/plugins/remote/userclk.c
  tests/opae-serialize/test_request_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix fpgainfo events time span power on time stamp
  libraries/libboard/board_n6000/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

Fix fpgainfo events time span power on time stamp (#2779)
  libraries/libboard/board_n6000/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

Fix fpgainfo events time span power on time stamp (#2779)
  libraries/libboard/board_n6000/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

ci: remove update-repo workflow
  .github/workflows/update-repo.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: remove update-repo workflow
  .github/workflows/update-repo.yml
Owners: @OFS/opae-sdk-ci-maintainers

remote: add fpgaBufMemSet, fpgaBufMemCpyToRemote
  binaries/udsserv/handle_client.c
  include/opae/buffer.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/props.c
  libraries/libopae-c/props.h
  libraries/libopae-c/uds-ifc.c
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/response.h
  libraries/libopae-serialize/serialize.c
  libraries/libopae-serialize/serialize.h
  libraries/plugins/remote/buffer.c
  libraries/plugins/remote/close.c
  libraries/plugins/remote/enum.c
  libraries/plugins/remote/error.c
  libraries/plugins/remote/hostif.c
  libraries/plugins/remote/metrics.c
  libraries/plugins/remote/mmio.c
  libraries/plugins/remote/open.c
  libraries/plugins/remote/plugin.c
  libraries/plugins/remote/properties.c
  libraries/plugins/remote/reconf.c
  libraries/plugins/remote/remote.h
  libraries/plugins/remote/reset.c
  libraries/plugins/remote/sysobject.c
  libraries/plugins/remote/userclk.c
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/plugin.c
  libraries/plugins/xfpga/buffer.c
  libraries/plugins/xfpga/plugin.c
  libraries/plugins/xfpga/xfpga.h
  samples/hello_fpga/hello_fpga.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Fix fpgainfo events time span power on time stamp (#2779) (#2780)
  libraries/libboard/board_n6000/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

remote: add fpgaBufPoll()
  binaries/udsserv/handle_client.c
  include/opae/buffer.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/response.h
  libraries/plugins/remote/buffer.c
  libraries/plugins/remote/plugin.c
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/plugin.c
  libraries/plugins/xfpga/buffer.c
  libraries/plugins/xfpga/plugin.c
  libraries/plugins/xfpga/xfpga.h
  samples/hello_fpga/hello_fpga.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Fix coding style
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/xfpga/buffer.c
Owners: @OFS/opae-sdk-api-maintainers

hello_fpga: fix test cases
  samples/hello_fpga/hello_fpga.c
Owners: @OFS/opae-sdk-tools-maintainers

remote: add fpgaBufMemCmp(); hello_fpga working
  binaries/udsserv/handle_client.c
  include/opae/buffer.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/response.h
  libraries/plugins/remote/buffer.c
  libraries/plugins/remote/plugin.c
  libraries/plugins/remote/remote.h
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/plugin.c
  libraries/plugins/xfpga/buffer.c
  libraries/plugins/xfpga/plugin.c
  libraries/plugins/xfpga/xfpga.h
  samples/hello_fpga/hello_fpga.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Fix build warnings
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

remote: remove old remote directory
  CMakeLists.txt
  remote/CMakeLists.txt
  remote/sock/CMakeLists.txt
  remote/sock/udsclient/CMakeLists.txt
  remote/sock/udsclient/api.c
  remote/sock/udsclient/api.h
  remote/sock/udsclient/main.c
  remote/sock/udsclient/udsclient.c
  remote/sock/udsclient/udsclient.h
Owners: @OFS/opae-sdk-api-maintainers

remote: consolidate client handler logic
  binaries/udsserv/handle_client.c
  binaries/udsserv/handle_client.h
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  tests/opae-serialize/test_request_c.cpp
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

remote: add inet interface and inetserv.
  binaries/inetserv/CMakeLists.txt
  binaries/inetserv/cfg.h
  binaries/inetserv/handle_client.c
  binaries/inetserv/handle_client.h
  binaries/inetserv/inetserv.c
  binaries/inetserv/inetserv.h
  binaries/inetserv/main.c
  binaries/udsserv/handle_client.c
  include/opae/types.h
  libraries/libopae-c/CMakeLists.txt
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/inet-ifc.c
  libraries/libopae-c/inet-ifc.h
  libraries/libopae-c/pluginmgr.c
  libraries/libopae-c/rmt-cfg.c
  libraries/libopae-c/rmt-ifc.c
  libraries/libopae-serialize/serialize.h
  tests/opae-c/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix coding style
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/rmt-ifc.c
  libraries/libopae-c/uds-ifc.c
Owners: @OFS/opae-sdk-api-maintainers

remote: add fpgaBufWritePattern()
  include/opae/buffer.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/rmt-ifc.c
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/response.h
  libraries/plugins/remote/buffer.c
  libraries/plugins/remote/plugin.c
  libraries/plugins/remote/remote.h
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/plugin.c
  libraries/plugins/xfpga/buffer.c
  libraries/plugins/xfpga/plugin.c
  libraries/plugins/xfpga/xfpga.h
  samples/hello_fpga/hello_fpga.c
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

remote: add APIs
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/response.h
  libraries/libopae-serialize/serialize.c
  libraries/libopae-serialize/serialize.h
  libraries/plugins/remote/event.c
  libraries/plugins/remote/remote.h
Owners: @OFS/opae-sdk-api-maintainers

remote: add APIs
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/request.c
  libraries/libopae-serialize/request.h
  libraries/libopae-serialize/response.c
  libraries/libopae-serialize/response.h
  libraries/plugins/remote/event.c
Owners: @OFS/opae-sdk-api-maintainers

Add ofs.uio tool to peek, poke, mailbox read/write/dump dfl uio csr region
  binaries/ofs.uio/CMakeLists.txt
  binaries/ofs.uio/setup.py
  binaries/ofs.uio/uio/__init__.py
  binaries/ofs.uio/uio/ofs.uio.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae-extra-tools.install
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

ci: update python versions
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: update python verion in single quotes
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

remote: consolidate server interfaces
  binaries/inetserv/CMakeLists.txt
  binaries/inetserv/cfg.h
  binaries/inetserv/handle_client.c
  binaries/inetserv/handle_client.h
  binaries/inetserv/inetserv.c
  binaries/inetserv/main.c
  binaries/udsserv/CMakeLists.txt
  binaries/udsserv/handle_client.c
  binaries/udsserv/handle_client.h
  binaries/udsserv/main.c
  binaries/udsserv/udsserv.c
  binaries/udsserv/udsserv.h
  libraries/libopae-c/CMakeLists.txt
  libraries/libopae-c/pollsrv.c
  libraries/libopae-c/pollsrv.h
  libraries/libopae-serialize/action.c
  libraries/libopae-serialize/action.h
  tests/opae-c/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

ci: update pyhton verion in pacsign, python analysis yml files
  .github/workflows/no-python-analysis.yml
  .github/workflows/pacsign.yml
Owners: @OFS/opae-sdk-ci-maintainers

Fix coding style
  libraries/libopae-c/pollsrv.h
Owners: @OFS/opae-sdk-api-maintainers

ci: update python versions (#2783)
  .github/workflows/no-python-analysis.yml
  .github/workflows/pacsign.yml
  .github/workflows/python-static-analysis.yml
Owners: @OFS/opae-sdk-ci-maintainers

fix code review comments
  binaries/CMakeLists.txt
  binaries/ofs.uio/CMakeLists.txt
  binaries/ofs.uio/setup.py
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

remote: refactor to 2-way comms
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/comms.h
  libraries/libopae-c/pluginmgr.c
  libraries/libopae-c/pollsrv.c
  libraries/libopae-c/pollsrv.h
  libraries/libopae-c/rmt-cfg.c
  libraries/libopae-c/rmt-ifc.h
  libraries/libopae-c/uds-ifc.h
  libraries/plugins/remote/buffer.c
  libraries/plugins/remote/enum.c
  libraries/plugins/remote/error.c
  libraries/plugins/remote/event.c
  libraries/plugins/remote/metrics.c
  libraries/plugins/remote/mmio.c
  libraries/plugins/remote/open.c
  libraries/plugins/remote/properties.c
  libraries/plugins/remote/reconf.c
  libraries/plugins/remote/remote.h
  libraries/plugins/remote/reset.c
  libraries/plugins/remote/sysobject.c
  libraries/plugins/remote/userclk.c
Owners: @OFS/opae-sdk-api-maintainers

add support to uiox as input string to opaeuio, read8/16, write8/16 to pyopaeuio
  libraries/libopaeuio/opaeuio.c
  libraries/pyopaeuio/pyopaeuio.cpp
  libraries/pyopaeuio/pyopaeuio.h
Owners: @OFS/opae-sdk-api-maintainers

remove duplicate code
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

fix code review comments
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

fix cpp code style
  libraries/pyopaeuio/pyopaeuio.cpp
Owners: @OFS/opae-sdk-api-maintainers

C++ style: don't change code in the working tree
  scripts/test-codingstyle-all.sh
Owners: @OFS/opae-sdk-ci-maintainers

fix opaeuio glob free
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

C++ style: don't change code in the working tree (#2785)
  scripts/test-codingstyle-all.sh
Owners: @OFS/opae-sdk-ci-maintainers

Update opaeuio.c
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

add support to uiox as input string to opaeuio, read8/16, write8/16 t… (#2784)
  libraries/libopaeuio/opaeuio.c
  libraries/pyopaeuio/pyopaeuio.cpp
  libraries/pyopaeuio/pyopaeuio.h
Owners: @OFS/opae-sdk-api-maintainers

fix code review comments
  binaries/ofs.uio/uio/ofs.uio.py
Owners: @OFS/opae-sdk-tools-maintainers

Update CMakeLists.txt
  binaries/CMakeLists.txt
Owners: @OFS/opae-sdk-tools-maintainers
