Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

Try to install python3-pybind11 in the Docker imagwe
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to install python39-pybind11 in the Docker imagwe
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

See if the image can be built from Centos 8.5
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Revert "See if the image can be built from Centos 8.5"
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to install pybind11 through pip
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to fake a python3-pybind11 package
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to install create-fake-rpm
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Correct usage of create-fake-rpm
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Fix error in command-line arguments
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Fix Dockerfile so it installs the fake rpm
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Install rpm from (hopefully) correct location
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Correct path to fake rpm
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try different location for fake rpm
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

dd -y to approve installation of fake rpm
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

hange PROVIDES of fake rpm to hopefully correct string
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try changing filename of fake rpm
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to see if the fake rpm actually provides what it should
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to remove pybind11 as a dependency
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Switch order of Docker instructions to allow grepping of file
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Check what is in root, and try to modify opae.spec.fedora
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Modify build-rpms-new.sh from Dockerfile
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Fix small mistake in paths
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Fix another issue with paths
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Check installed list for pybind11
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Change Dockerfile to run unrestricted build
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

ci: drop Fedora 36, add Fedora 38
  .github/workflows/build-rpms.yml
  docker/fedora36/Dockerfile
  docker/fedora38/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ci: drop Fedora 36, add Fedora 38 (#2957)
  .github/workflows/build-rpms.yml
  docker/fedora36/Dockerfile
  docker/fedora38/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Clean up Dockerfile
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Cleanup Dockerfile and remove unecessary script
  docker/rhel8.6/Dockerfile
  scripts/build-rpms-new-rhel.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Chek if the flow works without fake rpms
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Correct error in previous commit
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Moved Dockerfile to better named folder
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Fix previous commit
  docker/centos8/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Update workflow file to reflect name changes
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

Change distro to RockyLinux
  docker/centos8/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Rename docker folder to better reflect the Dockerfile
  .github/workflows/build-rpms.yml
  docker/rockylinux8/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

plugins: add UIO plugin
  cmake/config/config.h.in
  include/opae/types_enum.h
  libraries/libopae-c/cfg-file.c
  libraries/plugins/uio/CMakeLists.txt
  libraries/plugins/uio/dfl.c
  libraries/plugins/uio/dfl.h
  libraries/plugins/uio/opae_uio.c
  libraries/plugins/uio/opae_uio.h
  libraries/plugins/uio/plugin.c
  libraries/pyopae/opae.cpp
  libraries/pyopae/opae/fpga/__init__.py
  libraries/pyopae/pyproperties.cpp
  opae.cfg
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae.install
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

SDL Include security.md file in open source repos
  SECURITY.md
Owners: @OFS/opae-sdk-api-maintainers

remove blank line
  SECURITY.md
Owners: @OFS/opae-sdk-api-maintainers

SDL Include security.md file in open source repos (#2959)
  SECURITY.md
Owners: @OFS/opae-sdk-api-maintainers
