Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.5.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.5.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.5.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

host_exerciser computed sum of reads+writes incorrectly
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

host_exerciser computed sum of reads+writes incorrectly (#2931)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

host_exerciser computed sum of reads+writes incorrectly (#2931)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

host_exerciser computed sum of reads+writes incorrectly (#2931)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

grpc: server-side reset and locking
  binaries/CMakeLists.txt
  binaries/grpcreset/CMakeLists.txt
  binaries/grpcreset/main.cpp
  libraries/libopae-clisrv/convert.cpp
  libraries/libopae-clisrv/event_notifier.cpp
  libraries/libopae-clisrv/event_notifier.hpp
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/map_helper.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/enum.cpp
  scripts/test-codingstyle-all.sh
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

pci_device: add unplug and plug subcommands
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers

Add PCI bus rescan for pci_device plug
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers

ofs.uio add mailbox json input command to write multiple mailbox values.
  binaries/ofs.uio/uio/msix.json
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

pci_device: add unplug and plug subcommands (#2934)
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers

rsu: clear errors after rescan
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

rsu: clear errors after rescan (#2936)
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

fpgainfo bmc: Fix when having both N601x and N501x card, sensors from N601x is shown for N501x card
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_max10.h
  libraries/plugins/xfpga/metrics/metrics_utils.c
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix rescan path
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers

Try re-enumerating after bus rescan.
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix rescan path (#2937)
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/pci_device.py
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

grpc: add fpgaReconfigureSlot
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/plugin.c
  libraries/plugins/grpc/reconf.cpp
Owners: @OFS/opae-sdk-api-maintainers

xfpga: fix a long-standing bug in the PR path
  libraries/plugins/xfpga/reconf.c
Owners: @OFS/opae-sdk-api-maintainers

Fix reconf unit tests.
  tests/xfpga/test_reconf_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

Fix unit tests
  tests/xfpga/test_reconf_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

fpgainfo bmc: Fix when having both N601x and N501x card, sensors from N601x is shown for N501x card (#2933)
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_max10.h
  libraries/plugins/xfpga/metrics/metrics_utils.c
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix fpga.enum returns a list
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

rsu, pci_device: fix fpga.enum returns a list (#2939)
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

xfpga: fix a long-standing bug in the PR path (#2938)
  libraries/plugins/xfpga/reconf.c
  tests/xfpga/test_reconf_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix code reivew comments
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

fix uio reg compile
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

ofs.uio add mailbox json input command to write multiple mailbox values. (#2935)
  binaries/ofs.uio/uio/msix.json
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

rpm build: add unrestricted build mode
  packaging/opae/rpm/create
Owners: @OFS/opae-sdk-ci-maintainers

rpm build: add unrestricted build mode (#2940)
  packaging/opae/rpm/create
Owners: @OFS/opae-sdk-ci-maintainers

Add separate Verilog and VHDL source management to rtl_src_config
  platforms/scripts/platmgr/tools/rtl_src_config.py
Owners: @OFS/opae-sdk-ase-maintainers

grpc: start of grpc-gateway integration
  libraries/libopae-clisrv/CMakeLists.txt
  libraries/libopae-clisrv/grpc-gateway/clean
  libraries/libopae-clisrv/grpc-gateway/create
  libraries/libopae-clisrv/grpc-gateway/main.go
  libraries/libopae-clisrv/grpc-gateway/tools.go
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/proto/opae.proto
  libraries/libopae-clisrv/proto/opae_gw.proto
  python/opae.http/opae/http/constants.py
  python/opae.http/opae/http/conversion.py
  python/opae.http/opae/http/enumerate.py
  python/opae.http/opae/http/fpga_remote_id.py
  python/opae.http/opae/http/handle.py
  python/opae.http/opae/http/properties.py
  python/opae.http/opae/http/token.py
  python/opae.http/opae/http/tools/opae_http_test.py
  python/opae.http/opae/http/tools/server_reset.py
  python/opae.http/opae/http/version.py
  python/opae.http/pyproject.toml
  python/opae.http/setup.py
Owners: @OFS/opae-sdk-api-maintainers

Add separate Verilog and VHDL source management to rtl_src_config
  platforms/scripts/platmgr/tools/rtl_src_config.py
Owners: @OFS/opae-sdk-ase-maintainers

grpc: save progress on grpc-gateway integration
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/proto/opae_gw.proto
  python/opae.http/opae/http/constants.py
  python/opae.http/opae/http/handle.py
  python/opae.http/opae/http/properties.py
  python/opae.http/opae/http/shared_buffer.py
  python/opae.http/opae/http/token.py
  python/opae.http/opae/http/tools/opae_http_test.py
Owners: @OFS/opae-sdk-api-maintainers

Get opae.io out of a pickle
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

Get opae.io out of a pickle
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

Correct rtl_src_config help text
  platforms/scripts/platmgr/tools/rtl_src_config.py
Owners: @OFS/opae-sdk-ase-maintainers

Correct rtl_src_config help text
  platforms/scripts/platmgr/tools/rtl_src_config.py
Owners: @OFS/opae-sdk-ase-maintainers

pci_device: add unplug and plug subcommands (#2934)
  python/opae.admin/opae/admin/tools/pci_device.py
Owners: @OFS/opae-sdk-api-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
