Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

libopaeuio.so: use flock for exclusive access (#2968)
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

libopaeuio.so: use flock for exclusive access (#2968) (#2974)
  libraries/libopaeuio/opaeuio.c
Owners: @OFS/opae-sdk-api-maintainers

ofs_uio.py: add pause_daemon support
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

opae-u: add unit test cases
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/plugins/uio/dfl.c
  libraries/plugins/uio/opae_uio.c
  libraries/plugins/uio/opae_uio.h
  libraries/plugins/uio/plugin.c
  tests/opae-u/CMakeLists.txt
  tests/opae-u/test_dfl_c.cpp
  tests/opae-u/test_opae_uio_c.cpp
  tests/opae-u/test_plugin_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

ofs_uio.py: add pause_daemon support
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

ofs_uio.py: add pause_daemon support
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

ofs_uio.py: add pause_daemon support (#2976)
  binaries/ofs.uio/uio/ofs_uio.py
Owners: @OFS/opae-sdk-tools-maintainers

Move version to 2.7.0-2.
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Move version to 2.7.0-2. (#2977)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae-u: test cleanup
  tests/opae-u/test_opae_uio_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

ci: add spdlog and cli11 to ubuntu22.04
  docker/ubuntu22/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add python3-pybind11
  docker/ubuntu22/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

libboard: fix struct declaration
  libraries/libboard/board_n6000/board_event_log.h
Owners: @OFS/opae-sdk-api-maintainers

Use C99 "flexible arrays"
  libraries/libboard/board_n6000/board_event_log.h
Owners: @OFS/opae-sdk-api-maintainers

fix ofs and silicom n6000 sensors
  libraries/plugins/xfpga/sysfs.c
Owners: @OFS/opae-sdk-api-maintainers

remove unused macro for sub vendor id
  libraries/plugins/xfpga/sysfs.c
Owners: @OFS/opae-sdk-api-maintainers

coding style: lock checkpatch.pl version
  libraries/libboard/board_n6000/board_event_log.h
  scripts/test-codingstyle-all.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

ci: add spdlog and cli11 to ubuntu22.04 (#2978)
  docker/ubuntu22/Dockerfile
  scripts/test-codingstyle-all.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

ci: add spdlog and cli11 to ubuntu22.04 (#2978)
  docker/ubuntu22/Dockerfile
  scripts/test-codingstyle-all.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fpgainfo: add display for fpga_interface
  binaries/fpgainfo/fpgainfo.c
Owners: @OFS/opae-sdk-tools-maintainers

Fix coding style issues.
  binaries/fpgainfo/fpgainfo.c
Owners: @OFS/opae-sdk-tools-maintainers

ci: add spdlog and cli11 to ubuntu22.04 (#2978) (#2979)
  docker/ubuntu22/Dockerfile
  scripts/test-codingstyle-all.sh
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix fpgainfo bmc for multiple FPGA cards (#2971)
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_max10.h
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/sysfs.c
  libraries/plugins/xfpga/sysfs_int.h
  libraries/plugins/xfpga/types_int.h
  tests/xfpga/test_sysfs_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix fpgainfo bmc for multiple FPGA cards (#2971)
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_max10.h
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/sysfs.c
  libraries/plugins/xfpga/sysfs_int.h
  libraries/plugins/xfpga/types_int.h
  tests/xfpga/test_sysfs_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix fpgainfo bmc for multiple FPGA cards (#2971) (#2980)
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_max10.h
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/sysfs.c
  libraries/plugins/xfpga/sysfs_int.h
  libraries/plugins/xfpga/types_int.h
  tests/xfpga/test_sysfs_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

mem_tg threading transfer
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

opae-v: add unit test cases / fix issues
  cmake/config/config.h.in
  libraries/libopae-c/adapter.h
  libraries/libopaevfio/opaevfio.c
  libraries/plugins/vfio/dfl.c
  libraries/plugins/vfio/dfl.h
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
  tests/opae-v/CMakeLists.txt
  tests/opae-v/test_dfl_c.cpp
  tests/opae-v/test_opae_vfio_c.cpp
  tests/opae-v/test_plugin_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

mem_tg test multichannel
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

opae-v: save progress on unit tests
  libraries/plugins/vfio/opae_vfio.c
  tests/opae-v/test_dfl_c.cpp
  tests/opae-v/test_opae_vfio_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

addressing comments
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

spacing fix
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Formatting only updates to tg_test.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Formatting-only updates to mem_tg.h
  samples/mem_tg/mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

opae.admin.fpga: Fix fme.bmcfw_version() bmcfw_flash_ctrl is not in sysfs path
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

packaging: add n5010tool to opae.spec.rhel
  opae.spec.rhel
Owners: @OFS/opae-sdk-ci-maintainers

opae.admin: add n5010tool that can read QSFP Rx Power levels on n501x boards
  opae.spec.fedora
  packaging/opae/deb/opae-devel.install
  python/opae.admin/opae/admin/tools/n5010tool.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

opae.admin.fpga: Fix fme.bmcfw_version() bmcfw_flash_ctrl is not in sysfs path
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

packaging: add n5010tool to opae.spec.rhel
  opae.spec.rhel
Owners: @OFS/opae-sdk-ci-maintainers

opae.admin: add n5010tool that can read QSFP Rx Power levels on n501x boards
  opae.spec.fedora
  packaging/opae/deb/opae-devel.install
  python/opae.admin/opae/admin/tools/n5010tool.py
  python/opae.admin/pyproject.toml
  python/opae.admin/setup.py
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

Update QUARTUS_HOME references to QUARTUS_ROOTDIR
  samples/hello_afu/README.md
Owners: @OFS/opae-sdk-doc-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
