Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

code udpates for usrclk dfhv0 -> dfhv1 migration
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

code udpates for usrclk dfhv0 -> dfhv1 migration
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

code udpates for usrclk dfhv0 -> dfhv1 migration
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

opae.io: include unistd.h
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

opae.io: include unistd.h
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump version number used for packaging
  packaging/opae/version
Owners: @OFS/opae-sdk-ci-maintainers

opae: bump version number used for packaging
  packaging/opae/version
Owners: @OFS/opae-sdk-ci-maintainers

opae: bump version number used for packaging
  packaging/opae/version
Owners: @OFS/opae-sdk-ci-maintainers

cmake: bump CPACK_PACKAGE_RELEASE for 2.12.0-5
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

packaging: opae.admin: bump PROJECT_RELEASE for 2.12.0-5
  packaging/opae.admin/version
Owners: @OFS/opae-sdk-ci-maintainers

packaging: opae.admin: bump PROJECT_RELEASE for 2.12.0-5
  packaging/opae.admin/version
Owners: @OFS/opae-sdk-ci-maintainers

cmake: bump CPACK_PACKAGE_RELEASE for 2.12.0-5
  CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

spdlog: do not drop logger in destructor
  libraries/afu-test/afu_test.h
  samples/cxl_hello_fpga/he_cache_test.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

spdlog: do not drop logger in destructor
  libraries/afu-test/afu_test.h
  samples/cxl_hello_fpga/he_cache_test.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

hssi: suggest hssi{loopback,stats} when eth interface is absent
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

hssi: suggest hssi{loopback,stats} when eth interface is absent
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fpgainfo: refactor code for print phy information
  libraries/libboard/board_common/CMakeLists.txt
  libraries/libboard/board_common/board_common.c
  libraries/libboard/board_common/board_common.h
  libraries/libboard/board_n6000/CMakeLists.txt
  libraries/libboard/board_n6000/board_n6000.c
  tests/board/CMakeLists.txt
  tests/fpgainfo/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

libboard: add board plugin for JTAG only PCI Dev Kits
  libraries/CMakeLists.txt
  libraries/libboard/board_jtag_pci_dk/CMakeLists.txt
  libraries/libboard/board_jtag_pci_dk/board_jtag_pci_dk.c
  libraries/libboard/board_jtag_pci_dk/board_jtag_pci_dk.h
  libraries/libopae-c/cfg-file.c
  opae.cfg
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae.install
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

libboard: add board plugin for JTAG only PCI Dev Kits
  libraries/CMakeLists.txt
  libraries/libboard/board_jtag_pci_dk/CMakeLists.txt
  libraries/libboard/board_jtag_pci_dk/board_jtag_pci_dk.c
  libraries/libboard/board_jtag_pci_dk/board_jtag_pci_dk.h
  libraries/libopae-c/cfg-file.c
  opae.cfg
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae.install
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fpgainfo: refactor code for print phy information
  libraries/libboard/board_common/CMakeLists.txt
  libraries/libboard/board_common/board_common.c
  libraries/libboard/board_common/board_common.h
  libraries/libboard/board_n6000/CMakeLists.txt
  libraries/libboard/board_n6000/board_n6000.c
  tests/board/CMakeLists.txt
  tests/fpgainfo/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

host_exerciser: fix ASE simulation
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

host_exerciser: fix ASE simulation (#3121)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

qsfpinfo: only include printing qsfp information (include source from ethertool) if OPAE-SDK is compiled with option OPAE_WITH_QSFPINFO_QSFPPRINT
  CMakeLists.txt
  binaries/qsfpinfo/CMakeLists.txt
  binaries/qsfpinfo/main.c
  doc/src/fpga_tools/qsfpinfo/qsfpinfo.md
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-doc-maintainers

qsfpinfo: New tool to print QSFP EEPROM information for cards with qsfp feature (id 0x13).
  CMakeLists.txt
  binaries/CMakeLists.txt
  binaries/qsfpinfo/CMakeLists.txt
  binaries/qsfpinfo/cmis_wrap.c
  binaries/qsfpinfo/main.c
  binaries/qsfpinfo/sff-common_wrap.c
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
  doc/src/fpga_tools/qsfpinfo/qsfpinfo.md
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae-devel.install
  scripts/opae-clean.py
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

xfpga: metrics: fix check for metric limits
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-api-maintainers

xfpga: metrics: fix multiplier for board power sensor
  libraries/plugins/xfpga/metrics/metrics_int.h
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-api-maintainers

scripts: install documentation prerequisites in Python venv
  doc/sphinx/requirements.txt
  docker/docs/Dockerfile
  scripts/build-documentation.sh
Owners: @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

copy_engine: correct status register value documentation
  ofs/umd/cpeng/ofs_cpeng.yml
Owners: @OFS/opae-sdk-api-maintainers

scripts: install documentation prerequisites in Python venv
  doc/sphinx/requirements.txt
  docker/docs/Dockerfile
  scripts/build-documentation.sh
Owners: @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

xfpga: metrics: fix multiplier for board power sensor
  libraries/plugins/xfpga/metrics/metrics_int.h
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-api-maintainers

xfpga: metrics: fix check for metric limits
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-api-maintainers

opae.cfg: fix entries for jtag only PCI card
  opae.cfg
Owners: @OFS/opae-sdk-api-maintainers

copy_engine: correct status register value documentation (#3124)
  ofs/umd/cpeng/ofs_cpeng.yml
Owners: @OFS/opae-sdk-api-maintainers

host_exerciser: correct handling of local memory width
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

host_exerciser: correct handling of local memory width (#3126)
  samples/host_exerciser/host_exerciser_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae.cfg: fix entries for jtag only PCI card
  opae.cfg
Owners: @OFS/opae-sdk-api-maintainers

ci: drop Fedora 37 and 38, add Fedora 39 and 40
  .github/workflows/build-rpms.yml
  docker/fedora39/Dockerfile
  docker/fedora40/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ci: drop Fedora 37 and 38, add Fedora 39 and 40
  .github/workflows/build-rpms.yml
  docker/fedora39/Dockerfile
  docker/fedora40/Dockerfile
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

ci: build packages on release branches and tags
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: build packages on release branches and tags
  .github/workflows/build-debs.yml
  .github/workflows/build-rpms.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
