Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

opae.io: add vf_token subcommand
  binaries/opae.io/main.h
  binaries/opae.io/pymain.h
  binaries/opae.io/vfiobindings.cpp
Owners: @OFS/opae-sdk-tools-maintainers

Update QUARTUS_HOME references to QUARTUS_ROOTDIR
  samples/hello_afu/README.md
Owners: @OFS/opae-sdk-doc-maintainers

opae.io: add vf_token subcommand
  binaries/opae.io/main.h
  binaries/opae.io/pymain.h
  binaries/opae.io/vfiobindings.cpp
Owners: @OFS/opae-sdk-tools-maintainers

opae-u: 64-bit accesses and mmio fix
  libraries/plugins/uio/dfl.c
  libraries/plugins/uio/dfl.h
  libraries/plugins/uio/opae_uio.c
  libraries/plugins/uio/opae_uio.h
  tests/opae-u/test_dfl_c.cpp
  tests/opae-u/test_opae_uio_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix coding style
  libraries/plugins/uio/dfl.h
Owners: @OFS/opae-sdk-api-maintainers

Fix code style for real this time
  libraries/plugins/uio/dfl.h
Owners: @OFS/opae-sdk-api-maintainers

Coding style again
  libraries/plugins/uio/dfl.h
Owners: @OFS/opae-sdk-api-maintainers

opae-v: remove bitfields, fix mmio bounds checks
  libraries/plugins/vfio/dfl.c
  libraries/plugins/vfio/dfl.h
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  tests/opae-v/test_dfl_c.cpp
  tests/opae-v/test_opae_vfio_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Touch up unit tests
  tests/opae-v/test_dfl_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

mem_tg test channel synchronization and documentation
  doc/src/fpga_tools/mem_tg/mem_tg.md
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-tools-maintainers

formatting tg_test.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

plugins: add UIO plugin (#2964)
  binaries/fpgainfo/fpgainfo.c
  cmake/config/config.h.in
  include/opae/types_enum.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/cfg-file.c
  libraries/libopaeuio/opaeuio.c
  libraries/plugins/CMakeLists.txt
  libraries/plugins/uio/CMakeLists.txt
  libraries/plugins/uio/dfl.c
  libraries/plugins/uio/dfl.h
  libraries/plugins/uio/opae_uio.c
  libraries/plugins/uio/opae_uio.h
  libraries/plugins/uio/plugin.c
  libraries/pyopae/opae.cpp
  libraries/pyopae/opae/fpga/__init__.py
  libraries/pyopae/pyproperties.cpp
  opae.cfg
  opae.spec.fedora
  opae.spec.rhel
  packaging/opae/deb/opae.install
  tests/opae-u/CMakeLists.txt
  tests/opae-u/test_dfl_c.cpp
  tests/opae-u/test_opae_uio_c.cpp
  tests/opae-u/test_plugin_c.cpp
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

opae-u tests: skip invalidate tests for non-mock
  CMakeLists.txt
  cmake/modules/OPAETest.cmake
  tests/opae-u/test_dfl_c.cpp
  tests/opae-u/test_opae_uio_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae-u tests: skip invalidate tests for non-mock (#2987)
  CMakeLists.txt
  cmake/modules/OPAETest.cmake
  tests/opae-u/test_dfl_c.cpp
  tests/opae-u/test_opae_uio_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae-v tests: skip invalidate tests for non-mock
  tests/opae-v/test_dfl_c.cpp
  tests/opae-v/test_opae_vfio_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers

libopaevfio: add vf_token env var processing
  libraries/libopaevfio/opaevfio.c
Owners: @OFS/opae-sdk-api-maintainers

Revert "libopaevfio: add vf_token env var processing"
  libraries/libopaevfio/opaevfio.c
Owners: @OFS/opae-sdk-api-maintainers

Undo token hack
  libraries/plugins/vfio/opae_vfio.c
Owners: @OFS/opae-sdk-api-maintainers

Experiment with __USE_GNU
  tests/framework/mock/opae_std.h
Owners: @OFS/opae-sdk-ci-maintainers

Experiment with __USE_GNU (#2989)
  tests/framework/mock/opae_std.h
Owners: @OFS/opae-sdk-ci-maintainers

opae-u: rename pci_device_supported
  libraries/plugins/uio/opae_uio.c
  tests/opae-u/test_opae_uio_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Copy soft links in afu_synth_setup
  platforms/scripts/platmgr/tools/afu_synth_setup.py
Owners: @OFS/opae-sdk-ase-maintainers

Copy soft links in afu_synth_setup
  platforms/scripts/platmgr/tools/afu_synth_setup.py
Owners: @OFS/opae-sdk-ase-maintainers

support HSSI Subsystem revision 3
  binaries/hssi/ethernet/hssicommon.py
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

support HSSI Subsystem revision 3 (#2992)
  binaries/hssi/ethernet/hssicommon.py
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Add a JSON flag that enables HSSI simulation in ASE
  platforms/scripts/platmgr/lib/emitcfg.py
  platforms/scripts/platmgr/tools/afu_platform_config.py
Owners: @OFS/opae-sdk-ase-maintainers

Add a JSON flag that enables HSSI simulation in ASE
  platforms/scripts/platmgr/lib/emitcfg.py
  platforms/scripts/platmgr/tools/afu_platform_config.py
Owners: @OFS/opae-sdk-ase-maintainers

opae-u: rename pci_device_supported (#2990)
  libraries/plugins/uio/opae_uio.c
  tests/opae-u/test_opae_uio_c.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

vfio plugin: add unit tests and correct issues (#2988)
  cmake/config/config.h.in
  libraries/libopaevfio/opaevfio.c
  libraries/plugins/vfio/dfl.c
  libraries/plugins/vfio/dfl.h
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
  tests/opae-v/CMakeLists.txt
  tests/opae-v/test_dfl_c.cpp
  tests/opae-v/test_opae_vfio_c.cpp
  tests/opae-v/test_plugin_c.cpp
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-api-maintainers

opae: bump revision to 2.8.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.8.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix fpgainfo events n6000 bel_power_regulator_info
  libraries/libboard/board_n6000/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

fix fpga events PCIe Error status time
  libraries/libboard/board_n6000/board_event_log.c
  tests/board/test_board_n6000.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix fpgainfo events n6000 bel_power_regulator_info (#2997)
  libraries/libboard/board_n6000/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

fix fpgainfo events c6100 bel_power_regulator_info
  libraries/libboard/board_c6100/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

change Temperature resolution to 2
  libraries/libboard/board_c6100/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

fpgadiag: fix issues found during fuzz testing
  binaries/fpgadiag/src/nlb0_main.cpp
  binaries/fpgadiag/src/nlb3_main.cpp
  binaries/fpgadiag/src/nlb7_main.cpp
Owners: @OFS/opae-sdk-tools-maintainers

fix fpga events PCIe Error status time (#3000)
  libraries/libboard/board_n6000/board_event_log.c
  tests/board/test_board_n6000.cpp
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix fpgainfo events c6100 bel_power_regulator_info (#2999)
  libraries/libboard/board_c6100/board_event_log.c
Owners: @OFS/opae-sdk-api-maintainers

fpgadiag: fix issues found during fuzz testing (#3001)
  binaries/fpgadiag/src/nlb0_main.cpp
  binaries/fpgadiag/src/nlb3_main.cpp
  binaries/fpgadiag/src/nlb7_main.cpp
Owners: @OFS/opae-sdk-tools-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
