Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

Update ccpp-tests.yml
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

disable snapd for all
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

ci: fix ubuntu container build (#2864)
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add start of fuzzing framework (#2863)
  .github/workflows/ccpp-tests.yml
  tests/fuzzing/fuzz-fpgaconf.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add tests for fpgad
  tests/fuzzing/fuzz-fpgad.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add mmlink tests
  tests/fuzzing/fuzz-mmlink.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpgainfo tests
  tests/fuzzing/fuzz_fpgainfo.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add tests for fpgad (#2865)
  tests/fuzzing/fuzz-fpgad.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fix fpgainfo long cmd parameter
  tests/fuzzing/fuzz_fpgainfo.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hello_fpga tests
  tests/fuzzing/fuzz-hello_fpga.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hello_events tests
  tests/fuzzing/fuzz-hello_events.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hello_fpga tests (#2868)
  tests/fuzzing/fuzz-hello_fpga.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpgametrics tests
  tests/fuzzing/fuzz-fpgametrics.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hello_events tests (#2869)
  tests/fuzzing/fuzz-hello_events.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add userclk tests
  tests/fuzzing/fuzz_userclk.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpgametrics tests (#2870)
  tests/fuzzing/fuzz-fpgametrics.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fix code review comments
  tests/fuzzing/fuzz-userclk.sh
Owners: @OFS/opae-sdk-ci-maintainers

Update main.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

rename fuzz_fpgainfo.sh to fuzz-fpgainfo.sh
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add fpgainfo tests (#2867)
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add mmlink tests (#2866)
  tests/fuzzing/fuzz-mmlink.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add userclk tests (#2871)
  tests/fuzzing/fuzz-userclk.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add n5010-ctl tests
  tests/fuzzing/fuzz-n5010-ctl.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hello_cxxcore tests
  tests/fuzzing/fuzz-hello_cxxcore.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add n5010-ctl tests (#2872)
  tests/fuzzing/fuzz-n5010-ctl.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add n5010-test tests
  tests/fuzzing/fuzz-n5010-test.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

Update fuzz-hello_cxxcore.sh
  tests/fuzzing/fuzz-hello_cxxcore.sh
Owners: @OFS/opae-sdk-ci-maintainers

Update fuzz-n5010-test.sh
  tests/fuzzing/fuzz-n5010-test.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add hello_cxxcore tests (#2873)
  tests/fuzzing/fuzz-hello_cxxcore.sh
Owners: @OFS/opae-sdk-ci-maintainers

hssi/afu_test: refactor timeout mechanism
  libraries/afu-test/afu_test.h
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

Update copyright dates
  libraries/afu-test/afu_test.h
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

hssi/afu_test: refactor timeout mechanism (#2875)
  libraries/afu-test/afu_test.h
  samples/hssi/hssi.cpp
  samples/hssi/hssi_100g_cmd.h
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_cmd.h
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers

hssi: apply patch for CSR_TX_STA_TSTAMP
  samples/hssi/hssi_10g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fuzz testing: add opaeuiotest tests
  tests/fuzzing/fuzz-opaeuiotest.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add n5010-test tests (#2874)
  tests/fuzzing/fuzz-n5010-test.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add nlb3 tests
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

Adding the script
  tests/fuzzing/fuzz-nlb3.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add bist_app tests
  tests/fuzzing/fuzz-bist_app.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add host_exerciser tests
  tests/fuzzing/fuzz-fpgainfo.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

fuzz testing: add host_exerciser tests
  tests/fuzzing/fuzz-host_exerciser.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
