Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OPAE/api, @OPAE/tools, @OPAE/ase, @OPAE/doc, @OPAE/ci

vabtool: updates for recent driver/BMC changes
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Print out error message during retries
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: bump version, add pr_status to help
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Add support for sdm key cancellation
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Increase rsu timeout in sdm pr key provisioning
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: updates for recent driver/BMC changes
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: bump version, add pr_status to help
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Increase rsu timeout in sdm pr key provisioning
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Add support for sdm key cancellation
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Print out error message during retries
  binaries/vabtool/vabtool
Owners: @OPAE/tools

opae-sdk: (Cherry-pick) vabtool SR changes (#2713)
  binaries/vabtool/vabtool
Owners: @OPAE/tools

Ahjorth/optional pcie address in eth tools (#2698)
  binaries/fpgadiag/opae/diag/common.py
  binaries/fpgadiag/opae/diag/fpgastats.py
  binaries/hssi/ethernet/hssicommon.py
  binaries/hssi/ethernet/hssiloopback.py
  binaries/hssi/ethernet/hssimac.py
  binaries/hssi/ethernet/hssistats.py
Owners: @OPAE/tools

vabtool: Fix the format of the usage message
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Fix the format of the usage message (#2714)
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Fix the format of the usage message (#2714)
  binaries/vabtool/vabtool
Owners: @OPAE/tools

vabtool: Fix the format of the usage message (#2714) (#2715)
  binaries/vabtool/vabtool
Owners: @OPAE/tools

cfg file: add unit tests and fix bugs
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/fpgad-cfg.c
  libraries/libopae-c/fpgainfo-cfg.c
  libraries/libopae-c/opae-cfg.c
  libraries/libopae-c/pluginmgr.c
  libraries/libopae-c/pluginmgr.h
  tests/opae-c/CMakeLists.txt
  tests/opae-c/test_cfg_file_c.cpp
  tests/opae-c/test_fpgad_cfg_c.cpp
  tests/opae-c/test_fpgainfo_cfg_c.cpp
  tests/opae-c/test_opae_cfg_c.cpp
  tests/opae-c/test_pluginmgr_c.cpp
Owners: @OPAE/api, @OPAE/ci

Fix coding style
  libraries/libopae-c/pluginmgr.c
Owners: @OPAE/api

opae.cfg: add config file parsing to libopae-c (#2695)
  libraries/libopae-c/CMakeLists.txt
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/fpgad-cfg.c
  libraries/libopae-c/fpgainfo-cfg.c
  libraries/libopae-c/opae-cfg.c
  libraries/libopae-c/pluginmgr.c
  libraries/libopae-c/pluginmgr.h
  opae.cfg
  tests/opae-c/CMakeLists.txt
  tests/opae-c/test_cfg_file_c.cpp
  tests/opae-c/test_fpgad_cfg_c.cpp
  tests/opae-c/test_fpgainfo_cfg_c.cpp
  tests/opae-c/test_opae_cfg_c.cpp
  tests/opae-c/test_pluginmgr_c.cpp
Owners: @OPAE/api, @OPAE/ci

cmake: fix missing include directories in opae_add_static_library()
  cmake/modules/OPAECompiler.cmake
Owners: @OPAE/ci

fpgad: cfg file: one config file integration
  binaries/fpgad/command_line.c
  binaries/fpgad/command_line.h
  binaries/fpgad/config_file.c
  binaries/fpgad/config_file.h
  binaries/fpgad/monitor_thread.c
  binaries/fpgad/monitored_device.c
  binaries/fpgad/monitored_device.h
  binaries/fpgad/plugins/fpgad-vc/fpgad-vc.c
  libraries/libopae-c/cfg-file.c
  opae.cfg
  tests/fpgad/CMakeLists.txt
  tests/fpgad/test_command_line_c.cpp
  tests/fpgad/test_config_file_c.cpp
  tests/fpgad/test_fpgad_c.cpp
  tests/fpgad/test_monitored_device_c.cpp
  tests/fpgad/test_plugin_fpgad_xfpga_c.cpp
Owners: @OPAE/tools, @OPAE/api, @OPAE/ci

cmake: fix missing include directories in opae_add_static_library()
  cmake/modules/OPAECompiler.cmake
Owners: @OPAE/ci

fpgad: remove old config file, print table
  binaries/fpgad/CMakeLists.txt
  binaries/fpgad/config_file.c
  binaries/fpgad/fpgad.cfg
  binaries/fpgad/fpgad.conf
  binaries/fpgad/fpgad.service.in
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/pluginmgr.c
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae.install
Owners: @OPAE/tools, @OPAE/api, @OPAE/ci

Add opae_int.h to cfg parsing
  libraries/libopae-c/cfg-file.c
Owners: @OPAE/api

fpgad: cfg file: one config file integration (#2717)
  binaries/fpgad/CMakeLists.txt
  binaries/fpgad/command_line.c
  binaries/fpgad/command_line.h
  binaries/fpgad/config_file.c
  binaries/fpgad/config_file.h
  binaries/fpgad/fpgad.cfg
  binaries/fpgad/fpgad.conf
  binaries/fpgad/fpgad.service.in
  binaries/fpgad/monitor_thread.c
  binaries/fpgad/monitored_device.c
  binaries/fpgad/monitored_device.h
  binaries/fpgad/plugins/fpgad-vc/fpgad-vc.c
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/pluginmgr.c
  opae.cfg
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
  packaging/opae/deb/opae.install
  tests/fpgad/CMakeLists.txt
  tests/fpgad/test_command_line_c.cpp
  tests/fpgad/test_config_file_c.cpp
  tests/fpgad/test_fpgad_c.cpp
  tests/fpgad/test_monitored_device_c.cpp
  tests/fpgad/test_plugin_fpgad_xfpga_c.cpp
Owners: @OPAE/tools, @OPAE/api, @OPAE/ci

opae-sdk: bump version to 2.2.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OPAE/api, @OPAE/ci

opae-sdk: add support to installed pybind11 to build python bindings (#2709)
  CMakeLists.txt
  external/CMakeLists.txt
  libraries/pyopae/CMakeLists.txt
Owners: @OPAE/api

fpgainfo: one config file integration
  binaries/fpgainfo/CMakeLists.txt
  binaries/fpgainfo/board.c
  binaries/fpgainfo/board.h
  binaries/fpgainfo/main.c
  tests/fpgainfo/test_board_c.cpp
  tests/fpgainfo/test_fpgainfo_c.cpp
Owners: @OPAE/tools, @OPAE/ci

Fix checkpatch.pl issue
  binaries/fpgainfo/board.c
Owners: @OPAE/tools

opae-sdk: bump version to 2.2.0 (#2718)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OPAE/api, @OPAE/ci

Update binaries/fpgainfo/board.c
  binaries/fpgainfo/board.c
Owners: @OPAE/tools

fpgainfo: one config file integration (#2719)
  binaries/fpgainfo/CMakeLists.txt
  binaries/fpgainfo/board.c
  binaries/fpgainfo/board.h
  binaries/fpgainfo/main.c
  tests/fpgainfo/test_board_c.cpp
  tests/fpgainfo/test_fpgainfo_c.cpp
Owners: @OPAE/tools, @OPAE/ci

config file: try env var LIBOPAE_CFGFILE first
  libraries/libopae-c/cfg-file.c
  tests/opae-c/test_cfg_file_c.cpp
Owners: @OPAE/api, @OPAE/ci

config file: try env var LIBOPAE_CFGFILE first (#2720)
  libraries/libopae-c/cfg-file.c
  tests/opae-c/test_cfg_file_c.cpp
Owners: @OPAE/api, @OPAE/ci

config: one cfg file integration for rsu,fpgareg
  opae.cfg
  python/opae.admin/opae/admin/config.py
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/fpgareg.py
  python/opae.admin/opae/admin/tools/rsu.py
  tests/opae.admin/test_config.py
Owners: @OPAE/api, @OPAE/ci

Update pydoc comments.
  python/opae.admin/opae/admin/config.py
Owners: @OPAE/api

Add fpgareg sections to opae.cfg
  opae.cfg
Owners: @OPAE/api

Fix review feedback.
  python/opae.admin/opae/admin/config.py
Owners: @OPAE/api

Fix more review comments.
  python/opae.admin/opae/admin/config.py
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/fpgareg.py
  python/opae.admin/opae/admin/tools/rsu.py
  tests/opae.admin/test_config.py
Owners: @OPAE/api, @OPAE/ci

config: one cfg file integration for rsu,fpgareg (#2722)
  opae.cfg
  python/opae.admin/opae/admin/config.py
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/fpgareg.py
  python/opae.admin/opae/admin/tools/rsu.py
  tests/opae.admin/test_config.py
Owners: @OPAE/api, @OPAE/ci

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OPAE/api reviews everything, unless overridden below.
*                               @OPAE/api

# API specification, implementation, and samples
opae.cfg                        @OPAE/api
CMakeLists.txt                  @OPAE/api
/include/                       @OPAE/api
/libraries/                     @OPAE/api
/ofs/                           @OPAE/api
/python/                        @OPAE/api

# Tools
/binaries/                      @OPAE/tools
/samples/                       @OPAE/tools

# Platforms database
/platforms/                     @OPAE/ase

# Documentation
AUTHORS                         @OPAE/doc
CONTRIBUTING.md                 @OPAE/doc
COPYING                         @OPAE/doc
LICENSE                         @OPAE/doc
README.md                       @OPAE/doc
RELEASE_NOTES.md                @OPAE/doc

/doc/                           @OPAE/doc
/scripts/build-documentation.sh @OPAE/doc
/scripts/push-documentation.sh  @OPAE/doc
/setup/                         @OPAE/doc

# Build toolchain & continuous integration
buildit.py                      @OPAE/ci
opae.spec.in                    @OPAE/ci
opae.spec.rhel                  @OPAE/ci
opae.spec.fedora                @OPAE/ci
.gitattributes                  @OPAE/ci
.gitconfig                      @OPAE/ci
.gitignore                      @OPAE/ci
/.github/                       @OPAE/ci
/packaging/                     @OPAE/ci
/scripts/                       @OPAE/ci
/tests/                         @OPAE/ci
/cmake/                         @OPAE/ci
