Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.11.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.11.0 (#3065)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

samples:cxl_hello_fpga : Add support for Hello fpga feature for CMC
  opae.spec.fedora
  packaging/opae/deb/opae-extra-tools.install
  samples/cxl_hello_fpga/CMakeLists.txt
  samples/cxl_hello_fpga/cxl_he_cmd.h
  samples/cxl_hello_fpga/cxl_hello_fpga.cpp
  samples/cxl_hello_fpga/cxl_hello_fpga.h
  samples/cxl_hello_fpga/cxl_hello_fpga_cmd.h
  samples/cxl_hello_fpga/he_cache_test.h
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-tools-maintainers

[Feature]: samples:cxl_hello_fpga : Add support for Hello fpga feature for CMC (#3052)
  opae.spec.fedora
  packaging/opae/deb/opae-extra-tools.install
  samples/CMakeLists.txt
  samples/cxl_hello_fpga/CMakeLists.txt
  samples/cxl_hello_fpga/cxl_he_cmd.h
  samples/cxl_hello_fpga/cxl_hello_fpga.cpp
  samples/cxl_hello_fpga/cxl_hello_fpga.h
  samples/cxl_hello_fpga/cxl_hello_fpga_cmd.h
  samples/cxl_hello_fpga/he_cache_test.h
Owners: @OFS/opae-sdk-ci-maintainers, @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser segmentation fault non-root user mode
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser segmentation fault non-root user mode
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser running pointer test output wrong string
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Add fpgaGetChildren()
  include/opae/access.h
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
Owners: @OFS/opae-sdk-api-maintainers

fix: CXL host exerciser segmentation fault non-root user mode (#3067)
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser segmentation fault non-root user mode (#3067)
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser running pointer test output wrong string (#3068)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser running pointer test output wrong string (#3068)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser segmentation fault non-root user mode (#3067) (#3070)
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: CXL host exerciser running pointer test output wrong string (#3068) (#3071)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Add parent/child AFU management to the libopae-c shell
  include/opae/access.h
  libraries/libopae-c/CMakeLists.txt
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/multi-port-afu.c
  libraries/libopae-c/multi-port-afu.h
  libraries/libopae-c/opae_int.h
Owners: @OFS/opae-sdk-api-maintainers

Check that fpgaReadMMIO64() is available before calling it.
  libraries/libopae-c/multi-port-afu.c
Owners: @OFS/opae-sdk-api-maintainers

- Work around an MMIO access problem in unit test. - Correct handling of malloc failure in fpgaOpen().
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/multi-port-afu.c
Owners: @OFS/opae-sdk-api-maintainers

[Feature] - Add parent/child AFU management to the libopae-c shell (#3072)
  include/opae/access.h
  libraries/libopae-c/CMakeLists.txt
  libraries/libopae-c/adapter.h
  libraries/libopae-c/api-shell.c
  libraries/libopae-c/multi-port-afu.c
  libraries/libopae-c/multi-port-afu.h
  libraries/libopae-c/opae_int.h
Owners: @OFS/opae-sdk-api-maintainers

[Fix] Only clear AER errors when AER is available
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

[Fix] Only clear AER errors when AER is available (#3073)
  python/opae.admin/opae/admin/fpga.py
Owners: @OFS/opae-sdk-api-maintainers

ix:improve fpgametrics output readability and
  binaries/fpgametrics/fpgametrics.c
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

fix:fpgabitstreaminfo update string “Bitstream version” to "Image Info"
  python/opae.admin/opae/admin/utils/verifier.py
Owners: @OFS/opae-sdk-api-maintainers

[Fix] SEGV when passing NULL buf_addr to fpgaPrepareBuffer()
  libraries/libopae-c/api-shell.c
Owners: @OFS/opae-sdk-api-maintainers

[Fix] SEGV when passing NULL buf_addr to fpgaPrepareBuffer() (#3077)
  libraries/libopae-c/api-shell.c
Owners: @OFS/opae-sdk-api-maintainers

ix:improve fpgametrics output readability and (#3075)
  binaries/fpgametrics/fpgametrics.c
  libraries/plugins/xfpga/metrics/metrics_max10.c
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

fix:bitstreaminfo update var name to image_info
  python/opae.admin/opae/admin/utils/verifier.py
Owners: @OFS/opae-sdk-api-maintainers

fix:fpgabitstreaminfo update string “Bitstream version” to "Image Info" (#3076)
  python/opae.admin/opae/admin/utils/verifier.py
Owners: @OFS/opae-sdk-api-maintainers

fix: fpgasudpate maximum progress bar calculations to 100%.
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

opae: doc: fix errors in OPAE C++ documentation
  include/opae/cxx/core/shared_buffer.h
  include/opae/metrics.h
  include/opae/vfio.h
Owners: @OFS/opae-sdk-api-maintainers

Feature: add --force, --enable-sriov to opae.io
  binaries/opae.io/opae/io/utils.py
  binaries/opae.io/pymain.h
Owners: @OFS/opae-sdk-tools-maintainers

fix:update cxl_mem_tg test completion timeout value
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: doc: fix version of sphinx
  doc/sphinx/requirements.txt
Owners: @OFS/opae-sdk-doc-maintainers

fix build error
  samples/cxl_mem_tg/cxl_mem_tg.h
Owners: @OFS/opae-sdk-tools-maintainers

Feature: add --force, --enable-sriov to opae.io
  binaries/opae.io/opae/io/utils.py
  binaries/opae.io/pymain.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: doc: fix errors in OPAE C++ documentation
  include/opae/cxx/core/shared_buffer.h
  include/opae/metrics.h
  include/opae/vfio.h
Owners: @OFS/opae-sdk-api-maintainers

opae: doc: fix version of sphinx
  doc/sphinx/requirements.txt
Owners: @OFS/opae-sdk-doc-maintainers

fix:update cxl_mem_tg test completion timeout value (#3081)
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: fpgasudpate maximum progress bar calculations to 100%. (#3078)
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers

fix:update cxl_mem_tg test completion timeout value (#3081)
  samples/cxl_mem_tg/cxl_mem_tg.h
  samples/cxl_mem_tg/cxl_tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: fpgasudpate maximum progress bar calculations to 100%. (#3078)
  python/opae.admin/opae/admin/tools/fpgasupdate.py
Owners: @OFS/opae-sdk-api-maintainers
