Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OPAE/api, @OPAE/tools, @OPAE/ase, @OPAE/doc, @OPAE/ci

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OPAE/api reviews everything, unless overridden below.
*                               @OPAE/api

# API specification, implementation, and samples
opae.cfg                        @OPAE/api
CMakeLists.txt                  @OPAE/api
/include/                       @OPAE/api
/libraries/                     @OPAE/api
/ofs/                           @OPAE/api
/python/                        @OPAE/api

# Tools
/binaries/                      @OPAE/tools
/samples/                       @OPAE/tools

# Platforms database
/platforms/                     @OPAE/ase

# Documentation
AUTHORS                         @OPAE/doc
CONTRIBUTING.md                 @OPAE/doc
COPYING                         @OPAE/doc
LICENSE                         @OPAE/doc
README.md                       @OPAE/doc
RELEASE_NOTES.md                @OPAE/doc

/doc/                           @OPAE/doc
/scripts/build-documentation.sh @OPAE/doc
/scripts/push-documentation.sh  @OPAE/doc
/setup/                         @OPAE/doc

# Build toolchain & continuous integration
buildit.py                      @OPAE/ci
opae.spec.in                    @OPAE/ci
opae.spec.rhel                  @OPAE/ci
opae.spec.fedora                @OPAE/ci
.gitattributes                  @OPAE/ci
.gitconfig                      @OPAE/ci
.gitignore                      @OPAE/ci
/.github/                       @OPAE/ci
/packaging/                     @OPAE/ci
/scripts/                       @OPAE/ci
/tests/                         @OPAE/ci
/cmake/                         @OPAE/ci

opae.cfg: touch up config file for d5005
  opae.cfg
Owners: @OPAE/api

opae.cfg: touch up config file for d5005 (#2679)
  opae.cfg
Owners: @OPAE/api

opae.io: fix subsystem device ID for d5005
  binaries/opae.io/opae/io/utils.py
Owners: @OPAE/tools

opae.io: fix subsystem device ID for d5005 (#2680)
  binaries/opae.io/opae/io/utils.py
Owners: @OPAE/tools

add document explaining usage for mem_tg sample application
  doc/src/fpga_tools/mem_tg/mem_tg.md
Owners: @OPAE/doc

opae.io: add --safe option to walk command (#2667)
  binaries/opae.io/opae/io/utils.py
  binaries/opae.io/pymain.h
Owners: @OPAE/tools

packaging: remove python3*-devel wildcard (#2656)
  packaging/opae/rpm/create
Owners: @OPAE/ci

rsu: add --types to 'sdm' command (#2670)
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

opae-sdk: change phy info OPAE ERROR output to MSG (#2671)
  binaries/fpgainfo/board.c
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OPAE/tools, @OPAE/api

n6000: handle a 0 subdevice (#2675)
  binaries/fpgainfo/board.c
Owners: @OPAE/tools

opae-sdk: fix debug build gcc 12 errors (#2676)
  binaries/fpgad/command_line.c
  binaries/fpgainfo/board.c
  libraries/plugins/xfpga/metrics/bmc/bmc.c
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/metrics/threshold.c
  tests/dummy_afu/test_dummy_afu.cpp
  tests/framework/mock/test_utils.h
  tests/opae-c/test_pluginmgr_c.cpp
  tests/opae-c/test_props_c.cpp
  tests/xfpga/test_buffer_c.cpp
Owners: @OPAE/tools, @OPAE/api, @OPAE/ci

opae-sdk: bump release number to 2
  CMakeLists.txt
  packaging/opae/version
Owners: @OPAE/api, @OPAE/ci

opae-sdk:replace with include file with array
  tests/opae-c/test_props_c.cpp
Owners: @OPAE/ci

opae-sdk: bump release number to 2 (#2688)
  CMakeLists.txt
  packaging/opae/version
Owners: @OPAE/api, @OPAE/ci

n6000: handle a 0 subdevice (#2675) (#2682)
  binaries/fpgainfo/board.c
Owners: @OPAE/tools

opae-sdk: change phy info OPAE ERROR output to MSG (#2671) (#2683)
  binaries/fpgainfo/board.c
  libraries/libboard/board_n6000/board_n6000.c
Owners: @OPAE/tools, @OPAE/api

opae.io: add --safe option to walk command (#2667) (#2686)
  binaries/opae.io/opae/io/utils.py
  binaries/opae.io/pymain.h
Owners: @OPAE/tools

rsu: add --types to 'sdm' command (#2670) (#2684)
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

opae-sdk: (Cherry-pick) fix debug build gcc 12 errors (#2676) (#2681)
  binaries/fpgad/command_line.c
  binaries/fpgainfo/board.c
  libraries/plugins/xfpga/metrics/bmc/bmc.c
  libraries/plugins/xfpga/metrics/metrics_max10.c
  libraries/plugins/xfpga/metrics/metrics_utils.c
  libraries/plugins/xfpga/metrics/threshold.c
  tests/dummy_afu/test_dummy_afu.cpp
  tests/framework/mock/test_utils.h
  tests/opae-c/test_pluginmgr_c.cpp
  tests/opae-c/test_props_c.cpp
  tests/xfpga/test_buffer_c.cpp
Owners: @OPAE/tools, @OPAE/api, @OPAE/ci

packaging: remove python3*-devel wildcard (#2656) (#2685)
  packaging/opae/rpm/create
Owners: @OPAE/ci

rsu: remove sr_cancel, pr_cancel from sdm command (#2677)
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

opae-sdk: replace include file with array.h
  tests/opae-c/test_props_c.cpp
Owners: @OPAE/ci

rsu: remove sr_cancel, pr_cancel from sdm command (#2677)
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

opae-sdk: replace include file with array.h (#2689)
  tests/opae-c/test_props_c.cpp
Owners: @OPAE/ci

rsu: remove sr_cancel, pr_cancel from sdm command (#2677) (#2690)
  doc/src/fpga_tools/rsu/rsu.md
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OPAE/doc, @OPAE/api

add document explaining usage for mem_tg sample application (#2687)
  doc/src/fpga_tools/mem_tg/mem_tg.md
Owners: @OPAE/doc

opae-sdk: add memory traffic generator doc to build
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
Owners: @OPAE/doc

opae-sdk: add memory traffic generator doc to build (#2691)
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
Owners: @OPAE/doc

opae-sdk: add memory traffic generator doc to build (#2691)
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
Owners: @OPAE/doc

opae-sdk: add memory traffic generator doc to build (#2691) (#2692)
  doc/sphinx/conf.py.in
  doc/sphinx/index.rst.in
Owners: @OPAE/doc

opae.cfg: add config file to packaging
  CMakeLists.txt
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
Owners: @OPAE/api, @OPAE/ci

opae.cfg: add config file to packaging (#2693)
  CMakeLists.txt
  opae.spec.fedora
  opae.spec.in
  opae.spec.rhel
Owners: @OPAE/api, @OPAE/ci

fpgasupdate: changes related to new SDM driver
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/fpgasupdate.py
  python/opae.admin/opae/admin/version.py
Owners: @OPAE/api

opae.cfg: add config file parsing to libopae-c
  libraries/libopae-c/CMakeLists.txt
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/cfg-file.h
  libraries/libopae-c/fpgad-cfg.c
  libraries/libopae-c/fpgainfo-cfg.c
  libraries/libopae-c/opae-cfg.c
  opae.cfg
  tests/opae-c/CMakeLists.txt
Owners: @OPAE/api, @OPAE/ci

Fix coding style.
  libraries/libopae-c/cfg-file.c
  libraries/libopae-c/cfg-file.h
Owners: @OPAE/api

fpgasupdate: changes related to new SDM driver
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/sysfs.py
  python/opae.admin/opae/admin/tools/fpgasupdate.py
  python/opae.admin/opae/admin/version.py
Owners: @OPAE/api

opae-sdk: fix hssismac documentation (remove mtu command)
  doc/src/fpga_tools/hssi_ethernet/hssimac.md
Owners: @OPAE/doc

opae-sdk: add support for optional pcie_address in hssi* tools
  binaries/hssi/ethernet/hssicommon.py
  binaries/hssi/ethernet/hssiloopback.py
  binaries/hssi/ethernet/hssimac.py
  binaries/hssi/ethernet/hssistats.py
Owners: @OPAE/tools

opae-sdk: fix hssismac documentation (remove mtu command) (#2696)
  doc/src/fpga_tools/hssi_ethernet/hssimac.md
Owners: @OPAE/doc

opae-sdk: fpgadiag: reject if more than one board is selected
  binaries/fpgadiag/opae/diag/common.py
  binaries/fpgadiag/opae/diag/fpgastats.py
Owners: @OPAE/tools
