Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

hash_map: add flags param to opae_hash_map_init
  include/opae/hash_map.h
  libraries/libopaemem/hash_map.c
  libraries/libopaevfio/opaevfio.c
Owners: @OFS/opae-sdk-api-maintainers

Address review feedback: optimize for u64 case
  include/opae/hash_map.h
  libraries/libopaemem/hash_map.c
Owners: @OFS/opae-sdk-api-maintainers

Address review feedback: use prime for num_buckets
  libraries/libopaevfio/opaevfio.c
Owners: @OFS/opae-sdk-api-maintainers

Address review comments: refactor hashing
  include/opae/hash_map.h
  libraries/libopaemem/hash_map.c
Owners: @OFS/opae-sdk-api-maintainers

Add doxygen markup for hash map
  include/opae/hash_map.h
Owners: @OFS/opae-sdk-api-maintainers

Update hash_map.h
  include/opae/hash_map.h
Owners: @OFS/opae-sdk-api-maintainers

grpc: add fpgaSetUserClock(), fpgaGetUserClock()
  libraries/libopae-clisrv/grpc_client.cpp
  libraries/libopae-clisrv/grpc_client.hpp
  libraries/libopae-clisrv/grpc_server.cpp
  libraries/libopae-clisrv/grpc_server.hpp
  libraries/libopae-clisrv/opae.proto
  libraries/plugins/grpc/userclk.cpp
Owners: @OFS/opae-sdk-api-maintainers

vfio: changes in support of OpenCL MMD for gzip workload (#2846)
  include/opae/hash_map.h
  include/opae/vfio.h
  libraries/libopaemem/CMakeLists.txt
  libraries/libopaemem/hash_map.c
  libraries/libopaevfio/opaevfio.c
  libraries/plugins/vfio/opae_vfio.c
  libraries/plugins/vfio/opae_vfio.h
  libraries/plugins/vfio/plugin.c
Owners: @OFS/opae-sdk-api-maintainers

userclk: fix return code for error paths
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

userclk: fix return code for error paths (#2853)
  libraries/plugins/xfpga/usrclk/fpga_user_clk.c
Owners: @OFS/opae-sdk-api-maintainers

packaging/opae.admin/rpm: fix spec issue
  packaging/opae.admin/rpm/opae.admin.spec
Owners: @OFS/opae-sdk-ci-maintainers

ci: c/c++ build/test back to ubuntu-22.04
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

Trying ubuntu 20.04
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

Revert back to ubuntu-latest
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

Trying again..
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

A little fixup
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

packaging/opae.admin/rpm: fix spec issue (#2854)
  .github/workflows/ccpp-tests.yml
  packaging/opae.admin/rpm/opae.admin.spec
Owners: @OFS/opae-sdk-ci-maintainers

fix pybin11 build error (#2836)
  libraries/pyopaeuio/CMakeLists.txt
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix gcc13 build errors
  binaries/fpgabist/dma/fpga_dma.cpp
  libraries/c++utils/cmd_handler.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

define SETUP_PY to setup.py
  libraries/pyopaeuio/CMakeLists.txt
Owners: @OFS/opae-sdk-api-maintainers

fix gcc13 build errors
  binaries/fpgabist/dma/fpga_dma.cpp
  libraries/c++utils/cmd_handler.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

(Cherry-pick) fix pybin11 build error (#2836) (#2855)
  libraries/pyopaeuio/CMakeLists.txt
  libraries/pyopaeuio/setup.py
  opae.spec.fedora
  packaging/opae/deb/rules
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

fix gcc13 build errors (#2857)
  binaries/fpgabist/dma/fpga_dma.cpp
  libraries/c++utils/cmd_handler.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

include cstdint
  libraries/c++utils/cmd_handler.h
Owners: @OFS/opae-sdk-api-maintainers

silence warning on may uninitialized variable first_sw_desc
  binaries/fpgabist/dma/fpga_dma.cpp
Owners: @OFS/opae-sdk-tools-maintainers

Update cmd_handler.h
  libraries/c++utils/cmd_handler.h
Owners: @OFS/opae-sdk-api-maintainers

Gcc 13 (#2858)
  binaries/fpgabist/dma/fpga_dma.cpp
  libraries/c++utils/cmd_handler.h
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

hssi 10G: port_ -> src_port_ and dst_port_
  samples/hssi/hssi_10g_cmd.h
  samples/hssi/hssi_afu.h
Owners: @OFS/opae-sdk-tools-maintainers

hssi 10G: add back port_
  samples/hssi/hssi_10g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

opae-sdk: change revision to 2.1.2-5
  CMakeLists.txt
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae-sdk: change revision to 2.1.2-5 (#2860)
  CMakeLists.txt
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Address review feedback
  samples/hssi/hssi_10g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

pci_device: fix typo in error message
  python/opae.admin/opae/admin/sysfs.py
Owners: @OFS/opae-sdk-api-maintainers

pci_device: fix typo in error message (#2861)
  python/opae.admin/opae/admin/sysfs.py
Owners: @OFS/opae-sdk-api-maintainers

Address review comments.
  samples/hssi/hssi_10g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

rsu: extend --force to also force disabling AER even DPC is supported
  python/opae.admin/opae/admin/fpga.py
  python/opae.admin/opae/admin/tools/rsu.py
Owners: @OFS/opae-sdk-api-maintainers

fuzz testing: add start of fuzzing framework
  tests/fuzzing/fuzz-fpgaconf.sh
  tests/fuzzing/main.sh
Owners: @OFS/opae-sdk-ci-maintainers

ci: fix ubuntu container build
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

again
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

again
  .github/workflows/ccpp-tests.yml
Owners: @OFS/opae-sdk-ci-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
