Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

Add libtool to the Docker image
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Change hwloc to hwloc-devel
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try using elrepo packages for the Dockerfile
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Change order of GPG key import and repo installation
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

add new PCIe Persistent error logging to fpgainfo events
  libraries/libboard/board_n6000/board_event_log.c
  libraries/libboard/board_n6000/board_event_log.h
Owners: @OFS/opae-sdk-api-maintainers

Redirect to old mirror
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Install gcc before elrepo
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Minor fix
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

REmove elrepo
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to enable PowerTools repo to get missing packages
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to enable PowerTools repo to get missing packages
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to enable PowerTools repo to get missing packages
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Run an ls to figure out what is in the /etc/yum.repos.d/ folder
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to enable PowerTools repo to get missing packages
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

add fpgainfo events tests for n6000 platform
  libraries/libboard/board_n6000/board_event_log.c
  tests/board/test_board_n6000.cpp
  tests/framework/mock/test_system.h
  tests/framework/mock_sys_dfl_n6000_sku0_nlb0.tar.gz
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Remove pybind for now
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Remove openssl for now
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Fix minor error in the Dockerfile
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Add python3-jsonschema to install
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Firgure out pip version
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Update Pip to (hopefully) fix problem
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Fix typo
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Check pip version
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Temporarily change Dockerfile to check some pip things
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Temporarily change Dockerfile to check some things re: pip
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

hssi fix mailbox command typo
  binaries/hssi/ethernet/hssicommon.py
Owners: @OFS/opae-sdk-tools-maintainers

Try removing --no-warn-script-location from file that uses it
  binaries/hssi/CMakeLists.txt
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

hssi fix mailbox command typo (#2955)
  binaries/hssi/ethernet/hssicommon.py
Owners: @OFS/opae-sdk-tools-maintainers

add new PCIe Persistent error logging to fpgainfo events (#2953)
  libraries/libboard/board_n6000/board_event_log.c
  libraries/libboard/board_n6000/board_event_log.h
  tests/board/test_board_n6000.cpp
  tests/framework/mock/test_system.h
  tests/framework/mock_sys_dfl_n6000_sku0_nlb0.tar.gz
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Revert "Try removing --no-warn-script-location from file that uses it"
  binaries/hssi/CMakeLists.txt
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-api-maintainers

Try removing pip from the yum installs (hopefully it installs with python)
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try running the build
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Change order of the pip install commands
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

add new PCIe Persistent error logging to fpgainfo events (#2953)
  libraries/libboard/board_n6000/board_event_log.c
  libraries/libboard/board_n6000/board_event_log.h
  tests/board/test_board_n6000.cpp
  tests/framework/mock/test_system.h
  tests/framework/mock_sys_dfl_n6000_sku0_nlb0.tar.gz
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

add new PCIe Persistent error logging to fpgainfo events (#2953) (#2956)
  libraries/libboard/board_n6000/board_event_log.c
  libraries/libboard/board_n6000/board_event_log.h
  tests/board/test_board_n6000.cpp
  tests/framework/mock/test_system.h
  tests/framework/mock_sys_dfl_n6000_sku0_nlb0.tar.gz
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Try to ls the folder with the rpms
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to run the build using the fedora.spec
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Correctly copy build-rpms-new.sh to Docker
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Correct path of script being copied into Docker
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

Try to install python3-pyyaml through yum
  docker/rhel8.6/Dockerfile
Owners: @OFS/opae-sdk-api-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
