Repository OFS/opae-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-doc-maintainers, @OFS/opae-sdk-ci-maintainers

more cleanup
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

more cleanup
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

more cleanup
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

no snapshotting
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

added descriptions to --help (#3031)
  samples/mem_tg/mem_tg.h
  samples/mem_tg/tg_test.h
Owners: @OFS/opae-sdk-tools-maintainers

python: remove problematic --no-warn-script-location
  binaries/fpgadiag/CMakeLists.txt
  binaries/hssi/CMakeLists.txt
  binaries/ofs.uio/CMakeLists.txt
  cmake/modules/OPAEPackaging.cmake
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

python: remove problematic --no-warn-script-location (#3034)
  binaries/fpgadiag/CMakeLists.txt
  binaries/hssi/CMakeLists.txt
  binaries/ofs.uio/CMakeLists.txt
  cmake/modules/OPAEPackaging.cmake
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ci-maintainers

Cleanup, fixinalizing throughput calc
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Cleanup
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

reverting
  samples/hssi/hssi_100g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Defeature old PACSign test suite test.py
  python/pacsign/ReadMe.txt
  python/pacsign/test.py
Owners: @OFS/opae-sdk-api-maintainers

fpgadiag: fix subprocess.call() instances
  binaries/fpgadiag/opae/diag/fecmode.py
  binaries/fpgadiag/opae/diag/fpgadiag.py
  binaries/fpgadiag/opae/diag/fpgastats.py
Owners: @OFS/opae-sdk-tools-maintainers

Tim W.'s suggestions, clang format, and date
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

rtl_src_config.py: avoid subprocess.Popen() calls
  platforms/scripts/platmgr/tools/rtl_src_config.py
Owners: @OFS/opae-sdk-ase-maintainers

pacsign: fix instance of subprocess.Popen()
  python/pacsign/pacsign/common_util.py
Owners: @OFS/opae-sdk-api-maintainers

Fix common_util.py
  python/pacsign/pacsign/common_util.py
Owners: @OFS/opae-sdk-api-maintainers

[Feature] Support for F-Tile HE-HSSI 200G/400G (#3037)
  samples/hssi/hssi.cpp
  samples/hssi/hssi_200g_400g_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Feature: add --force, --enable-sriov to opae.io
  binaries/opae.io/opae/io/utils.py
  binaries/opae.io/pymain.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix review comment.
  binaries/opae.io/opae/io/utils.py
Owners: @OFS/opae-sdk-tools-maintainers

fpgareg: fix pcie address to lower case always (was missing in FPGAREG)
  python/opae.admin/opae/admin/tools/fpgareg.py
Owners: @OFS/opae-sdk-api-maintainers

fpgareg: fix pcie address to lower case always (was missing in FPGAREG) (#3039)
  python/opae.admin/opae/admin/tools/fpgareg.py
Owners: @OFS/opae-sdk-api-maintainers

eature:support Continues mode and latency iterations to CXL host exerciser
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
Owners: @OFS/opae-sdk-tools-maintainers

eature:support Continues mode and latency iterations to CXL host exerciser (#3040)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
Owners: @OFS/opae-sdk-tools-maintainers

opae: bump revision to 2.10.0
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

opae: bump revision to 2.10.0 (#3041)
  CMakeLists.txt
  packaging/opae.admin/version
  packaging/opae/version
Owners: @OFS/opae-sdk-api-maintainers, @OFS/opae-sdk-ci-maintainers

Fix:CXL Host exerciser calculations and output string
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: Remove latency iterations from write cache hit/miss scenario tests
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

fix: add comments to code
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix:CXL Host exerciser calculations and output string (#3042)
  samples/cxl_host_exerciser/cxl_he_cmd.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: Remove latency iterations from write cache hit/miss scenario tests (#3043)
  samples/cxl_host_exerciser/cxl_he_cache_cmd.h
  samples/cxl_host_exerciser/cxl_he_cmd.h
  samples/cxl_host_exerciser/cxl_host_exerciser.h
  samples/cxl_host_exerciser/he_cache_test.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: correct issue pointed out by static analysis
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: address issues pointed out by Python scanners (#3036)
  binaries/fpgadiag/opae/diag/fecmode.py
  binaries/fpgadiag/opae/diag/fpgadiag.py
  binaries/fpgadiag/opae/diag/fpgastats.py
  platforms/scripts/platmgr/tools/rtl_src_config.py
  python/pacsign/ReadMe.txt
  python/pacsign/pacsign/common_util.py
  python/pacsign/test.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-api-maintainers

Fix: correct issue pointed out by static analysis (#3044)
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: address issues pointed out by Python scanners (#3036)
  binaries/fpgadiag/opae/diag/fecmode.py
  binaries/fpgadiag/opae/diag/fpgadiag.py
  binaries/fpgadiag/opae/diag/fpgastats.py
  platforms/platmgr/tools/rtl_src_config.py
  python/pacsign/ReadMe.txt
  python/pacsign/pacsign/common_util.py
  python/pacsign/test.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-api-maintainers

Fix: correct issue pointed out by static analysis (#3044)
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix build issue
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: correct opae.io build issue
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: address issues pointed out by Python scanners (#3036) (#3045)
  binaries/fpgadiag/opae/diag/fecmode.py
  binaries/fpgadiag/opae/diag/fpgadiag.py
  binaries/fpgadiag/opae/diag/fpgastats.py
  platforms/platmgr/tools/rtl_src_config.py
  python/pacsign/ReadMe.txt
  python/pacsign/pacsign/common_util.py
  python/pacsign/test.py
Owners: @OFS/opae-sdk-tools-maintainers, @OFS/opae-sdk-ase-maintainers, @OFS/opae-sdk-api-maintainers

(cherry-pick) Fix: correct issue pointed out by static analysis (#3044) (#3046)
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

Fix: correct opae.io build issue (#3047)
  binaries/opae.io/main.h
Owners: @OFS/opae-sdk-tools-maintainers

.github/CODEOWNERS:

# List of maintainers for the OPAE-SDK
#
# Maintainers will be assigned as reviewers on every pull request in their area
# of responsibility (which is defined by the paths of the files touched by a
# pull request).

# @OFS/opae-sdk-api-maintainers reviews everything, unless overridden below.
*                               @OFS/opae-sdk-api-maintainers

# API specification, implementation, and samples
opae.cfg                        @OFS/opae-sdk-api-maintainers
CMakeLists.txt                  @OFS/opae-sdk-api-maintainers
/include/                       @OFS/opae-sdk-api-maintainers
/libraries/                     @OFS/opae-sdk-api-maintainers
/ofs/                           @OFS/opae-sdk-api-maintainers
/python/                        @OFS/opae-sdk-api-maintainers

# Tools
/binaries/                      @OFS/opae-sdk-tools-maintainers
/samples/                       @OFS/opae-sdk-tools-maintainers

# Platforms database
/platforms/                     @OFS/opae-sdk-ase-maintainers

# Documentation
AUTHORS                         @OFS/opae-sdk-doc-maintainers
CONTRIBUTING.md                 @OFS/opae-sdk-doc-maintainers
COPYING                         @OFS/opae-sdk-doc-maintainers
LICENSE                         @OFS/opae-sdk-doc-maintainers
README.md                       @OFS/opae-sdk-doc-maintainers
RELEASE_NOTES.md                @OFS/opae-sdk-doc-maintainers

/doc/                           @OFS/opae-sdk-doc-maintainers
/scripts/build-documentation.sh @OFS/opae-sdk-doc-maintainers
/scripts/push-documentation.sh  @OFS/opae-sdk-doc-maintainers
/setup/                         @OFS/opae-sdk-doc-maintainers

# Build toolchain & continuous integration
buildit.py                      @OFS/opae-sdk-ci-maintainers
opae.spec.in                    @OFS/opae-sdk-ci-maintainers
opae.spec.rhel                  @OFS/opae-sdk-ci-maintainers
opae.spec.fedora                @OFS/opae-sdk-ci-maintainers
.gitattributes                  @OFS/opae-sdk-ci-maintainers
.gitconfig                      @OFS/opae-sdk-ci-maintainers
.gitignore                      @OFS/opae-sdk-ci-maintainers
/.github/                       @OFS/opae-sdk-ci-maintainers
/packaging/                     @OFS/opae-sdk-ci-maintainers
/scripts/                       @OFS/opae-sdk-ci-maintainers
/tests/                         @OFS/opae-sdk-ci-maintainers
/cmake/                         @OFS/opae-sdk-ci-maintainers
